flynt-component[name='NavigationBurger'] {
  --navigation-height: 88px;
  height: var(--navigation-height);

  @screen md {
    display: none;
  }

  .container {
    align-items: center;
    display: flex;
    height: var(--navigation-height);
    justify-content: space-between;
    margin: 0;
    padding-block: 12px;
    position: fixed;
    width: 100vw;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  &.hamburger-grey {
    .hamburger-lines {
      &::before,
      &::after,
      &--text {
        background-color: var(--brandColor);
      }
    }
  }

  &[data-status='menuIsOpen'] {
    .logo_dark {
      img {
        filter: invert(1) brightness(10);
      }
    }

    &.hamburger-grey {
      .hamburger-lines {
        &::before,
        &::after,
        &--primary,
        &--text {
          background-color: var(--white);
        }
      }
    }
  }

  .hamburger {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 47px;
    justify-content: center;
    margin-inline-end: -10px;
    width: 47px;

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &-lines {
      height: 22px;
      position: relative;
      width: 27px;

      &::before,
      &::after {
        content: '';
      }

      &::before,
      &::after,
      &--primary,
      &--text {
        background-color: var(--white);
        border-radius: 10px;
        display: block;
        height: 3.5px;
        inset-inline-start: 0;
        position: absolute;
        transition:
          opacity 0.2s ease-in-out 0.2s,
          transform 0.2s ease-in-out 0.2s;
        width: 27px;
        will-change: opacity, transform;
      }

      &::before {
        inset-block-start: -1px;
      }

      &--primary,
      &--text {
        inset-block-start: 8px;
        transition-delay: 0s;
      }

      &::after {
        inset-block-start: 17px;
      }
    }
  }

  &[data-status='menuIsOpen'] {
    .hamburger-lines {
      &::before,
      &::after {
        opacity: 0;
        transition-delay: 0s;
      }

      &::before {
        transform: translateY(9px);
      }

      &::after {
        transform: translateY(-9px);
      }

      &--primary {
        transform: rotate(45deg);
        transition-delay: 0.2s;
      }

      &--text {
        transform: rotate(-45deg);
        transition-delay: 0.2s;
      }

      &::before,
      &::after {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }

  .menu {
    backface-visibility: hidden;
    height: 100vh;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    transform: translateX(100%);
    transition:
      transform 0.45s cubic-bezier(0.19, 1, 0.22, 1),
      visibility 0.45s;
    visibility: hidden;
    width: 100%;
    will-change: transform;

    .admin-bar & {
      height: calc(
        100% - var(--navigation-height) - var(--wp-admin--admin-bar--height)
      );
      inset-block-start: calc(
        var(--navigation-height) + var(--wp-admin--admin-bar--height)
      );
    }

    .current-menu-item {
      .link {
        text-decoration: underline;
        text-decoration-color: var(--white);
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &:hover {
          text-decoration-color: var(--hoverColor);
        }
      }
    }

    .submenu {
      .item {
        &.no-underline {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  &[data-status='menuIsOpen'] {
    .menu {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .submenu {
    display: block !important;
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
    }
  }

  .button--green {
    @apply p-sm;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Overwriting wp defaults to keep admin bar fixed */
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}
