<flynt-component load:on="idle" load:on:media="(max-width: 781px)"
  name="NavigationBurger"
  class="block md:hidden text-white backdrop-blur-lg relative"
>
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="fixed left-0 top-0 z-[49] flex items-center justify-between p-sm w-full">
      {% include 'Partials/_logo.twig'with { 'logo': logo, 'logo_dark': logo_dark, 'site': site } only %}
      {% if menu %}
        {% include 'Partials/_hamburger.twig' with { 'labels': labels } only %}
      {% endif %}
    </div>
    {% if menu %}
      {% include 'Partials/_menu.twig' with { 'items': menu.items, 'ctaLink': ctaLink  } only %}
    {% endif %}
  </nav>
</flynt-component>
