<div id="donationCustomFields" style="display: none;">
  {# custom field Campaign #}
  <label for="payment_donation_custom_field_14576">
    <span class="label">Campaign</span>
    <input type="text" name="payment[donation_custom_field_14576]" id="payment_donation_custom_field_14576">
  </label>
  
  {# custom field Content #}
  <label for="payment_donation_custom_field_14577">
    <span class="label">Content</span>
    <input type="text" name="payment[donation_custom_field_14577]" id="payment_donation_custom_field_14577">
  </label>
  
  {# custom field Medium #}
  <label for="payment_donation_custom_field_14574">
    <span class="label">Medium</span>
    <input type="text" name="payment[donation_custom_field_14574]" id="payment_donation_custom_field_14574">
  </label>
  
  {# custom field Source #}
  <label for="payment_donation_custom_field_14575">
    <span class="label">Source</span>
    <input type="text" name="payment[donation_custom_field_14575]" id="payment_donation_custom_field_14575">
  </label>
  
  {# custom field Term #}
  <label for="payment_donation_custom_field_14578">
    <span class="label">Term</span>
    <input type="text" name="payment[donation_custom_field_14578]" id="payment_donation_custom_field_14578">
  </label>
  
  {# custom field Platform #}
  <label for="payment_donation_custom_field_14579">
    <span class="label">Platform</span>
    <input type="text" name="payment[donation_custom_field_14579]" id="payment_donation_custom_field_14579">
  </label>
</div>