{# Interval #}
<div data-default-interval="{{ interval|default('0') }}" id="payment_interval" class="text-center mb-6">
  <div class="flex flex-row gap-3 justify-start">
    <div class="radioWrapper"><input type="radio" name="payment[interval]" id="payment_interval__0" value="0" class=""
                                     checked="checked"><label for="payment_interval__0" class="">{{ oneTimeIntervalText }}</label></div>
    <div class="radioWrapper"><input type="radio" name="payment[interval]" id="payment_interval__1" value="1"
                                     class=""><label for="payment_interval__1" class="">{{ monthlyIntervalText }}</label></div>
  </div>
  <div id="payment_interval_error" class="error error-text"></div>
</div>