{% if show_value_proposition and value_proposition %}
  <div class="value_proposition max-w-[576px] mx-auto">
    <div class="morse_code flex justify-center items-center space-x-[5px] mt-10 mb-4">
      <div class="w-[9px] h-[9px] item"></div>
      <div class="w-[9px] h-[9px] item"></div>
      <div class="w-[9px] h-[9px] item"></div>
      <div class="w-[24px] h-[9px] item"></div>
      <div class="w-[24px] h-[9px] item"></div>
      <div class="w-[24px] h-[9px] item"></div>
      <div class="w-[9px] h-[9px] item"></div>
      <div class="w-[9px] h-[9px] item"></div>
      <div class="w-[9px] h-[9px] item"></div>
    </div>
    {{ value_proposition }}
  </div>
{% endif %}