<flynt-component
  load:on="idle" 
  name="BlockWysiwyg" 
  class="w-full"
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
  <div class="outer w-full max-w-screen-max mx-auto p-sm md:p-lg">
    {% if blockTitle %}
    <h2 class="wrapper lg:w-2/3 not-prose subtitle font-bold pb-sm md:pb-md" 
      style="color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
      {{ blockTitle }}
    </h2>
    {% endif %}
    <div class="wrapper lg:w-2/3 not-prose  ">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
