{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="idle"
  name="BlockWysiwyg"
  <div class="container mx-auto grid grid-cols-6 md:grid-cols-12 gap-x-xs xs:gap-x-sm">
    {% if blockTitle %}
      <div class="col-span-full md:col-start-2 md:col-span-5">
          {{ h.h(blockTitle, { level: 1, class: '' }) }}
        </div>
    {% endif %}
    <div class="wysiwyg col-span-full md:col-start-2 md:col-span-8 ">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
