<flynt-component
  load:on="idle"
  name="BlockWysiwyg"
  class="w-full"
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
  <div class="outer w-full max-w-screen-max mx-auto p-sm xs:p-sm md:p-md lg:p-lg">
    {# {% if blockTitle %}
    <h2 class="wrapper lg:w-2/3 subtitle block-title font-bold pb-sm sm:pb-md"
      style="color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};">
      {{ blockTitle }}
    </h2>
    {% endif %} #}
    {% if blockTitle %}
      {% include 'Components/_Atoms/Titles/blockTitle.twig' 
        with {
          blockTitleClasses: 'wrapper lg:w-2/3 pb-sm sm:pb-md',
          blockTitleColor: options.colorText ?? 'var(--textColor)',
          blockTitle: blockTitle
        }
      %}
    {% endif %}
    <div class="wysiwyg wrapper lg:w-2/3">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
