<flynt-component load:on="idle" name="BlockInterstitial" class="w-full">
  <div class="w-full m-auto relative container p-sm md:p-md lg:p-lg">
    <div class="font-titleSmall font-condensed p-sm md:p-md lg:p-lg" {% if backgroundColor %} style="background-color:{{ backgroundColor }}" {% endif %}>
      <div class="max-w-[904px] mx-auto">{{ text }}</div>
    </div>
  </div>
</flynt-component>
