[is='flynt-grid-icons'] {
  .list {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      align-items: center;
      display: flex;
      flex-flow: row;
      padding: var(--padding_xsmall);
      width: 50%;
      @media (max-width: 540px) {
          width: 100%;
      }

      .fig-box {
          position: absolute;
          width: 3.75rem;
          height: 3.75rem;

          @screen md {
            width: 8.75rem;
            height: 8.75rem;
          }
          display: flex;
          align-items: center;
      }
      
      p {
        margin: 0;
        transform: translateX(3.75rem);
        width: calc(100% - 3rem);
        @screen md {
          transform: translateX(8.75rem);
        width: calc(100% - 7.5rem);
        }
        padding-left: var(--padding_xsmall);
      }
      @media (max-width: 540px) {
        p {
          padding-left: var(--padding_xxsmall)
        }
      }

    }
  }
}
