flynt-component[name='ListingFlex'] {
  .post {
    &:hover,
    &:focus {
      .image {
        @apply scale-[1.15];
        @apply origin-center;
      }
    }
    
    .link {
      list-style: none;
      padding: 0;
      color: currentColor;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;

      #{$heading-selectors} {
        color: var(--color-headline);
      }
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 var(--box-padding) var(--box-padding);
      position: relative;
      width: 100%;

      .readingTime {
        color: var(--color-text-muted);
        font-size: var(--body-font-size-small);
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .firstItemLarger {
      .post {
        min-height: auto;

        figure {
          img {
            @apply max-h-[370px];
            @apply xl:max-h-[345px];
            @apply max:max-h-[330px];
          }
        }
        
        &:first-child {
          grid-column-end: 3;
          grid-column-start: 1;
    
          figure {
            img {
              aspect-ratio: 2/1;
            }
          }

          .content {
            aspect-ratio: 2/1;
          }
        }
      }
    }
  }
}
