{% if post.displayPageHeader %}

{% set componentOptions = {
    name: 'ElementPageHeader',
    loadOn: 'visible',
    class: 'overflow-hidden',
} %}

{% set options = {
    colorText: 'var(--blue)',
    colorBackground: 'var(--paperColor)',
} %}

{% set content %}

  <div class="container-grid items-end prose mt-max">
    <h1 class="col-span-6 md:col-span-8 sm:!mb-0 pt-48">
      {% if post.header.longTitle %}
        {{ post.header.longTitle }}
      {% else %}
        <span class="font-extraLarge">{{ post.title }}</span>
      {% endif %}
    </h1>
    {% if post.header.intro %}
      <h2 class="col-span-6 md:col-span-3  sm:!mb-0">
        {{ post.header.intro }}
      </h2>
    {% endif %}
  </div>

  <div class="absolute -right-[12rem] -top-[18rem] w-[60rem] h-[60rem]">
  {% include 'Components/ElementPageHeader/shape.twig' with {
    image: post.header.shape,
    stretch: post.header.stretch,
  } %}
  </div>

{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}

{% endif %}
