/* Theme Brand */
.themeBrand {
  background-color: var(--yellow);
}
.themeBrand self, .themeBrand h1, .themeBrand h2, .themeBrand .h1, .themeBrand .h2, .themeBrand a, .themeBrand .feather {
  color: var(--blue);
}
.themeBrand a:hover, .themeBrand a:focus {
  color: var(--themeBrand_buttonText);
}
.themeBrand .button {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--yellow);
}
.themeBrand .button:hover, .themeBrand .button:focus {
  background-color: var(--yellow);
  border-color: var(--blue);
  color: var(--blue);
}
.themeBrand .button--ghost {
  background-color: transparent;
  border-color: var(--blue);
  color: var(--blue);
}
.themeBrand .button--ghost:hover, .themeBrand .button--ghost:focus {
  background-color: var(--blue);
  border-color: var(--yellow);
  color: var(--yellow);
}
.themeBrand .button--link {
  background-color: transparent;
  border: 0;
  color: var(--blue);
  padding: 0;
  position: relative;
  text-transform: none;
  transition: all 0.2s ease-out;
}
.themeBrand .button--link:hover, .themeBrand .button--link:focus {
  background-color: transparent;
  color: var(--blue);
  opacity: 0.6;
  text-decoration: none;
}
.themeBrand .button--link:hover::before, .themeBrand .button--link:focus::before {
  background-color: var(--blue);
}
.themeBrand .button--link:hover::after, .themeBrand .button--link:focus::after {
  background-position: right center;
}
.themeBrand .button--link::before {
  background-color: var(--blue);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.themeBrand .pill:hover, .themeBrand .pill:focus {
  color: var(--blue);
}
.themeBrand .slider-button {
  background-color: inherit;
}
@media (min-width: 1024px) {
  .themeBrand .slider-button:hover, .themeBrand .slider-button:focus {
    background-color: var(--yellow);
 }
}
.themeBrand .slider-button.swiper-button-disabled {
  opacity: 0.5;
}
.themeBrand .slider-button .feather {
  color: var(--blue);
}
.themeBrand .figure {
  background-color: inherit;
}
.themeBrand .figure-caption {
  background: inherit;
  color: var(--blue);
}
