/* Theme Dark */
.themeDark {
  background-color: var(--blue);
}
.themeDark self, .themeDark h1, .themeDark h2, .themeDark .h1, .themeDark .h2 {
  color: var(--warmwhite);
}
.themeDark .button {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--blue);
}
.themeDark .button:hover, .themeDark .button:focus {
  background-color: transparent;
  border-color: var(--yellow);
  color: var(--yellow);
}
.themeDark .button--ghost {
  background-color: transparent;
  border-color: var(--yellow);
  color: var(--yellow);
}
.themeDark .button--ghost:hover, .themeDark .button--ghost:focus {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--blue);
}
.themeDark .button--link {
  background-color: transparent;
  border: 0;
  color: var(--yellow);
  padding: 0;
  position: relative;
  text-transform: none;
  transition: all 0.2s ease-out;
}
.themeDark .button--link:hover, .themeDark .button--link:focus {
  background-color: transparent;
  color: var(--yellow);
  opacity: 0.6;
  text-decoration: none;
}
.themeDark .button--link:hover::before, .themeDark .button--link:focus::before {
  background-color: var(--yellow);
}
.themeDark .button--link:hover::after, .themeDark .button--link:focus::after {
  background-position: right center;
}
.themeDark .button--link::before {
  background-color: var(--yellow);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.themeDark .slider-button {
  background-color: inherit;
}
@media (min-width: 1024px) {
  .themeDark .slider-button:hover, .themeDark .slider-button:focus {
    background-color: var(--blue);
 }
}
.themeDark .slider-button.swiper-button-disabled {
  opacity: 0.5;
}
.themeDark .slider-button .feather {
  color: var(--warmwhite);
}
.themeDark .figure {
  background-color: inherit;
}
.themeDark .figure-caption {
  background: inherit;
  color: var(--warmwhite);
}
