/* Base Colors */
:root {
  --white: #fff;
  --warmwhite: #ebe8e3;
  --blue: #1c2445;
  --yellow: #ebeb00;
  --border-grey: #838594;
 /* Colors */
  --themeBase_colorBackground: #ebe8e3;
  --themeBase_colorText: #1c2445;
  --themeLight_colorBackground: #ebe8e3;
  --themeLight_colorText: #1c2445;
  --themeDark_colorBackground: #1c2445;
  --themeDark_colorText: #ebe8e3;
  --themeBrand_colorBackground: #ebeb00;
  --themeBrand_colorText: #1c2445;
  --pageBackground: #ebe8e3;
  --navBackground: #1c2445;
  --navColorText: #fff;
  --subnavColorText: #ebeb00;
  --menuBackground: #ebe8e3;
 /* Buttons */
  --themeBase_buttonBackground: #1c2445;
  --themeBase_buttonText: #ebeb00;
  --themeLight_buttonBackground: #ebeb00;
  --themeLight_buttonText: #1c2445;
  --themeDark_buttonBackground: #ebeb00;
  --themeDark_buttonText: #1c2445;
  --themeBrand_buttonBackground: #1c2445;
  --themeBrand_buttonText: #ebeb00;
 /* Paddings */
  --innerContainer_desktop: 8rem;
  --innerContainer_mobile: 4rem;
  --innerBlock_desktop: 4rem;
  --innerBlock_mobile: 2rem;

  --padding_none: 0;

  --padding_xxsmall: 0.5rem;
  --padding_xsmall: 0.75rem;
  --padding_small: 1.5rem;
  --padding_medium: 2.5rem;
  --padding_large: 3.0rem;
  --padding_xlarge: 5.0rem;
  --padding_xxlarge: 6.25rem;

  @screen md {
    --padding_xxsmall: 1.25rem;
    --padding_xsmall: 1.875rem;
    --padding_small: 3.75rem;
    --padding_medium: 6.25rem;
    --padding_large: 7.5rem;
    --padding_xlarge: 12.5rem;
    --padding_xxlarge: 15.625rem;
  }

 /* CSS Dimensions */
  --maxWidthContainer_full: 100%;
  --maxWidthContainer_wide: 1300px;
  --maxWidthContainer_medium: 1180px;
  --maxWidthContainer_narrow: 800px;
  --navHeight: 10rem;
  --navHeightMobile: 5.5rem;

  /* Fonts Sizes*/

  --fontSize_hero: 11vw;

  @screen md {
    --fontSize_hero: 10vw;
  }

}
