flynt-component[name='SliderText'] {
  .slider {
    max-width: 100%;
    position: relative;

    .swiper-wrapper {
      justify-content: flex-start;
      width: calc(100% - 70px);
    }

    &-item {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      min-height: 400px;
      overflow: hidden;
      position: relative;
      width: 25%;

      @media (max-width: $breakpoint-tablet) {
        height: 100%;
      }

      &:last-child {
        margin-right: 0 !important;
      }
    }

    .button-wrapper {
      transform: translateY(-80px);
    }

    &-button {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 48px;
      // inset-block-start: 50%;
      justify-content: center;
      // position: absolute;
      // transform: translateY(-50%);
      width: 48px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
