flynt-component[name='SliderText'] {
  .slider {
    max-width: 100%;
    position: relative;

    .swiper-wrapper {
      box-sizing: inherit;
    }

    &-item {
      display: flex;
      flex-flow: column wrap;
      height: 450px;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
      width: 100%;

      @media (min-width: $breakpoint-desktop) {
        // width: 400px;
      }
    }
    
    &-button {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 48px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  align-items: center;
  bottom: 35px !important;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: absolute;
  top: auto !important;
  z-index: 50;

  @media (min-width: $breakpoint-tablet) {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 2px solid var(--white);
  border-radius: 100%;
  display: inline-block;
  height: 15px !important;
  opacity: 1 !important;
  width: 15px !important;

  &-active {
    background: var(--white) !important;
    opacity: 1 !important;
  }
}
