[is='flynt-navigation-pre-nav'] {
  .searchForm {
    margin-left: 0.75rem;
    @screen md { margin-left: 1.875rem;}
  }
  
  .searchForm-field {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
  }
  
  @media (max-width: 540px) {
    .searchForm-field {
      flex-direction: row wrap;
    }
  }
  
  .searchForm-box {
    width: 3.75rem;
    @screen md { width: 9.375rem}
  }
  
  .searchForm-box.darkText .searchForm-input {
    color: var(--blue);
  }
  
  .searchForm-box.darkText .searchForm-input::placeholder {
    color: var(--blue); 
  }
  
  .searchForm-box.darkText .searchForm-input:focus,
  .searchForm-box.darkText .searchForm-input:active {
    border-bottom: 1px solid var(--blue);
  }
  
  .searchForm-input {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--white);
    font-family: inherit;
    @apply font-paragraphSmall md:font-caption;
    margin: 0;
    min-height: 25px;
    padding: 0;
    text-align: left;
    width: 100%;
    border-radius: 0;
    padding-right: 0.625rem;
    @screen md {padding-right: 1.5625rem;}
  }
  

  
  .searchForm-input:focus,
  .searchForm-input:active {
    outline: 0;
    border-bottom: 1px solid var(--yellow);
  }
  
  .searchForm-submit {
    padding: 0;
    padding-top: 6.5px;
    transform: translateX(-0.5rem);
    color: white;
    fill: currentColor;
  }
  
  .searchForm-submit svg {
    fill: currentColor;
  }
  
  .searchForm-submit.darkText {
    color: var(--blue);
  }
  
  .searchForm::placeholder {
    color: var(--white) !important;
  }
  
  @media screen and (max-width: 1023px) {
    .searchForm {
      width: 100%;
      padding-bottom: var(--padding_xxsmall);
      border-bottom: 1px solid var(--yellow);
    }
  
    .searchForm-box {
      margin-left: 0;
      width: calc(100% - 10rem);
    }
  
    .searchForm-input {
      text-align: left;
      border: none !important;
    }
  
    .searchForm-submit {
      height: 2rem;
      width: 2rem;
      padding: 0;
      transform: unset;
    }
  
    .searchForm-submit svg {
      height: 100%;
      width: 100%;
    }
  }  

}
