{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'BlockWysiwyg',
    loadOn: 'idle',
} %}

{% set titleContent %}
  {% if text.blockTitle %}
    {{ h.h(text.blockTitle, { level: 2, class: 'font-contentTitle uppercase' }) }}
  {% endif %}
{% endset %}

{% set textContent %}
  <div class="wysiwyg">
    {{ text.contentHtml }}
  </div>
{% endset %}


{% set content %}
  <div class="container-grid relative items-start">

    {{ge.gridElement(titleContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 8},
        'desktop': {'start': 1, 'end': 2},
        'max': {'start': 1, 'end': 2},
      }
    }) }}


    {{ ge.gridElement(textContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 8},
        'desktop': {'start': 3, 'end': 10},
        'max': {'start': 3, 'end': 10},
      }
      }) }}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}
