[is='flynt-navigation-footer'] {
  background-color: var(--blue);

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 540px) {
      flex-direction: column;
    }

    .container-left {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @media (max-width: 1023px) {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
      }
    }
  }

  .copyyrights > :first-child {
    margin-top: 0;
    padding-top: 0;
 }
  .copyyrights > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
 }
  

  .copyrights {
    color: var(--white);
    display: block;
    margin: 10px 0;
    text-align: left;

    @media (min-width: 1024px) {
      margin: 0;
    }

    @media (max-width: 540px) {
      margin-left: 0;
      margin-right: 0;
      width: 30%;
    }

    p {
      color: var(--white);
    }
  }

  .navigation {
    padding-right: var(--padding_medium);
  
    @media (max-width: 1023px) {
      padding-bottom: var(--padding_xsmall);
    }
  
    @media (max-width: 540px) {
      padding-bottom: var(--padding_small);
      padding-right: 0;
      width: 100%;
    }
  
    .menu {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    
      @media (max-width: 540px) {
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
      }
    
      &-item {
        @media (max-width: 540px) {
          display: flex;
          justify-content: center;
        }
    
        &:not(:first-child) {
          margin-left: 0.75rem;
          @screen md { margin-left: 1.25rem }
    
          @media (max-width: 540px) {
            margin-left: 0;
          }
        }
      }
    
      &-link {
        color: var(--white);
        text-decoration: none;
    
        &:hover,
        &:focus {
          text-decoration: underline;
          text-decoration-color: var(--yellow);
          text-underline-offset: 5px;
        }
      }
    }
  }
  
  .backToTop {
    @media (max-width: 540px) {
      bottom: var(--padding_small);
      position: absolute;
      right: var(--padding_small);
    }
  
    &:hover {
      cursor: pointer;
    }
  }
  
}
