{% if post.displayBanner %}
<flynt-component
  load:on="visible" name="BlockPageHeader"
  class="w-full mx-auto flex flex-col md:flex-row justify-between items-center"
  style="background: var(--secondary);"
  data-navStyle="dark-clear"
>
  <div class="w-full mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="w-full md:w-1/2 grow hidden md:block"></div>
    {% if post.thumbnail %}
      <div class="w-full md:w-1/2 md:min-h-[720px] grow aspect-square md:aspect-2/1 overflow-hidden">
        <img class="lazyload w-full h-full object-cover aspect-2/1 brightness-75"
          src="{{ post.thumbnail.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
          data-sizes="auto">
      </div>
    {% endif %}
  </div>
  <div class="w-full max-w-screen-max mx-auto flex flex-row justify-center items-center md:absolute md:left-1/2 md:-translate-x-1/2">
    <div class="w-full md:w-1/2 p-sm sm:p-md lg:p-lg grow text-white" style="background: var(--secondary);">
      {% if post.title %}<h1 class="titleSmall font-bold mb-md">{{ post.title }}</h1>{% endif %}
      {% if post.intro %}<div class="subtitle mt-xxl md:mt-lg">{{ post.intro }}</div>{% endif %}
    </div>
    <div class="w-full md:w-1/2 grow hidden md:block"></div>
  </div>
</flynt-component>
{% endif %}
