/* style dashicon on flexible component dropdown */

.acf-fc-popup a {
  &[data-layout='ReusableComponent'] {
    align-items: center;
    display: flex;

    i {
      margin-inline-start: 5px;
    }
  }
}

.acf-image-select label input {
  display: none;
}

.acf-image-select label p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.acf-image-select label img {
  border: solid 6px #ddd;
  max-width: 100%;
}

.acf-image-select label.selected img {
  border: solid 6px #999;
}

.acf-image-select li {
  display: inline-block;
  list-style: none;
  max-width: 25%;
}
