<flynt-component
  class=""
  data-type="listing"
  data-navStyle="light-blur"
  load:on="visible"
  name="ListingManual"
>
  <div class="max-w-screen-max mx-auto p-sm lg:p-lg w-full">
    {% if blockTitle or viewAllLink %}
      <div class="w-full mx-auto pb-sm md:pb-lg flex flex-row justify-between align-bottom items-end content-end">
        {% if blockTitle %}
          <div class="block-title font-bold subtitle">{{ blockTitle }}</div>
        {% endif %}
        {% if viewAllLink %}
          <a href="{{ viewAllLink.url }}" class="caption font-bold underline hover:no-underline">{{ viewAllLink.title }}</a>
        {% endif %}
      </div>
    {% endif %}
    <div class="hidden xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4"></div>
    <ul class="
      w-full
      mx-auto
      grid
      gap-sm sm:gap-md
      xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-3
    ">
      {% for post in items %}
        {% if post.type == 'post' %}
          {% include 'Components/_Atoms/Cards/post.twig' with { post: post, labels: labels } only %}
        {% endif %}
        {% if post.type == 'people' %}
          {% include 'Components/_Atoms/Cards/people.twig' with { post: post, labels: labels } only %}
        {% endif %}
        {% if post.type == 'project' %}
          {% include 'Components/_Atoms/Cards/project.twig' with { post: post, labels: labels } only %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</flynt-component>