<flynt-component name="FeatureNotFound" class="mt-navBar min-h-[calc(100vh_-_50rem)]">
  <div class="max-w-screen-max mx-auto p-sm sm:p-md lg:p-lg">
    <div class="wysiwyg">
      {{ contentHtml|wp_kses_custom }}
    </div>
    <a class="button button--outlineBlack mt-lg" href="{{ function('home_url') }}">
      {{ backLinkLabel|e }}
    </a>
  </div>
</flynt-component>
