{% import "Components/_Containers/GridElement.twig" as ge %}


{# Navigation Arrows #}
{% set navigationArrows %}
<div class="controls flex justify-end md:absolute md:bottom-md md:right-md md:text-white">
    {% include 'Components/_Atoms/Slider/navArrows.twig' with {color: options.colorText, bgColor: options.colorBackground } only %}
</div>
{% endset %}

{# Pagination #}
{% set pagination %}
    <div data-ref="pagination" data-slider-pagination 
        class="relative hidden z-10 md:!flex justify-start swiper-pagination-fraction">
    </div>
{% endset %}

{# Autoplay Progress #}
{% set autoplayProgress %}
    <div class="autoplay-progress-wrapper hidden md:block absolute top-8 right-8 z-10">
        <div class="autoplay-progress relative flex items-center justify-center  w-24 h-24 text-white">
            <svg data-ref="autoplayProgress" viewBox="0 0 96 96" class="progress absolute left-0 top-0 z-10 w-full h-full stroke-[.2rem] stroke-white fill-none -rotate-90"
                style="--progress: 0; stroke-dashoffset: calc(251.2 * (1 - var(--progress))); stroke-dasharray: 251.2;">
                <circle cx="48" cy="48" r="40"></circle>
            </svg>
            <svg viewBox="0 0 96 96" class="absolute left-0 top-0 z-0 w-full h-full stroke-[.2rem] stroke-[rgba(255,255,255,.5)] fill-none -rotate-90">
                <circle cx="48" cy="48" r="40"></circle>
            </svg>
            <span data-ref="slideCounter" class="font-paragraph">1/{{textImageCards|length}}</span>
        </div>
    </div>
{% endset %}

{{ ge.gridElement(pagination, {
    'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 8},
        'desktop': {'start': 6, 'end': 12},
    },
    'class': 'md:row-start-1 md:row-end-2 flex items-end'
}) }}

{{ ge.gridElement(navigationArrows, {
    'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 8},
        'desktop': {'start': 11, 'end': 12},
    },
    'class': 'row-start-4 row-end-5 pt-2 md:pt-0 md:row-start-1 md:row-end-2'
}) }}

{% if options.carouselOptions.autoplay %}
    {{ ge.gridElement(autoplayProgress, {
        'cols': {
            'mobile': {'start': 1, 'end': 6},
            'tablet': {'start': 1, 'end': 8},
            'desktop': {'start': 1, 'end': 12},
        },
        'class': 'md:row-start-1 md:row-end-2'
    }) }}
{% endif %}

