flynt-component[name='BlockVideoOembed'] {
  .video {
    margin: 0 auto;
    position: relative;

    &-player {
      height: 100vw;
      inset-block-start: 0;
      margin-block-start: 0;
      padding-block-end: 0;
      position: absolute;
      width: 100%;
      z-index: 10;

      @screen lg {
        height: 0;
        padding-block-end: calc(100% / 16 * 9);
      }

      &[data-state='isLoading'] {
        .video-loader {
          display: block;
        }

        .video-content {
          display: none;
        }
      }

      &[data-state='isLoaded'] {
        .video-loader,
        .video-content {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    iframe {
      display: none;
      height: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
      width: 100%;
    }

    .figure-caption {
      margin-inline: auto;
      max-width: var(--container-max-width);
      padding-inline: var(--container-padding);
    }
  }
}
