<div class="{{ color }} {{ height }} {{ width }} {{ iconClasses }} w-[45px] h-[45px] bg-accentColor rounded-full p-[12px] hover:bg-hoverColor focus:bg-hoverColor active:bg-pressedColor transition-all ease-linear duration-200">
    {% include 'assets/icons/' ~ icon|lower|replace({'/': "", ' ': ""}) ~ '.svg' %}
</div>