<flynt-component class="flyntComponent footerLandingPageNavigation" is="flynt-footer-landing-page-navigation">
  <div class="container">
    <div class="container-left md:pr-12 md:mr-0">
      {% if menu %}
        <nav class="navigation" aria-label="{{ __("Footer", "flynt") }}">
          {% include 'Partials/_menu.twig' with { 'items': menu.get_items|slice(0,2), 'level': '0', 'maxLevel': maxLevel } only %}
        </nav>
      {% endif %}
      {% if languages %}
        <div class="footerLandingPageNavigation__languages">
          {% for lang in languages %}
            <a href="{{ lang.url }}" class="footerLandingPageNavigation__languages__link {{ lang.current ? "footerLandingPageNavigation__languages__link--active" : "" }}">
              <span class="footerLandingPageNavigation__name">{{ lang.name }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% include 'Partials/_backtotop.twig' %}
  </div>
</flynt-component>
