@import
  'styles/tailwind',
  'styles/variables',
  'styles/fonts',
  'styles/base',
  'styles/tinymce';

/**
 * Classic editor styles
 */

// stylelint-disable selector-max-id
#tinymce.wp-editor {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-size-adjust: none;
  padding: 18px;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .mce-content-body {
    background-color: #cdcdcd;
  }
}

/**
 * Gutenberg editor styles
 */

.block-editor-inserter {
  margin: 0;
}
