@import 'styles/_tw-directives.css';
@import 'styles/_fonts.css';
@import 'styles/_colors.css';
@import 'styles/_variables.css';
@import 'styles/_typography.css';
@import 'styles/_buttons.css';

/**
 * Classic editor styles
 */

#tinymce.wp-editor {
  background-color: #cdcdcd;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 18px;
  text-size-adjust: none;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  font-family: inherit;
}

/**
 * Gutenberg editor styles
 */

.block-editor-inserter {
  margin: 0;
}

