@import 'styles/_tailwind.css';
@import 'styles/_variables.css';
@import 'styles/_fonts.css';
@import 'styles/_base.css';
@import 'styles/_tinymce.css';

/**
 * Classic editor styles
 */

#tinymce.wp-editor {
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 18px;
  text-size-adjust: none;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .mce-content-body {
    background-color: #cdcdcd;
  }

  ul {
    list-style: disc;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-left: 20px;

  }

  ol {
    list-style: decimal;
    list-style-type: decimal;
    margin-block-end: 1em;
    margin-left: 23px;
  }

  ul,
  ol {
    li {
      letter-spacing: 0.75px;
      line-height: normal;
      list-style: inherit;
      margin-block-end: 1em;

      @screen lg {
        line-height: normal;
      }
    }
  }
}

/**
 * Gutenberg editor styles
 */

.block-editor-inserter {
  margin: 0;
}
