flynt-component[name='ListingMap'] {
  // stylelint-disable selector-max-id
  #dottedMap {
    svg {
      clip-path: polygon(4% 2%, 100% 3%, 100% 99%, 3% 98%);
      
      @media (min-width: $breakpoint-desktop) {
        clip-path: polygon(3% 1%, 98% 1%, 98% 99%, 3% 98%);
      }
    }
  }

  button {
    &.active {
      @apply bg-cbegreen;
      @apply w-[25px];
      @apply h-[25px];
      @apply -translate-x-[12.5px];
      @apply -translate-y-[12.5px];
      @apply md:w-lg;
      @apply md:h-lg;
      @apply md:-translate-x-[25px];
      @apply md:-translate-y-[25px];
      z-index: 9999;

      &::before {
        border: 3px solid var(--white);
        border-radius: 100%;
        bottom: 3px;
        content: '';
        left: 3px;
        position: absolute;
        right: 3px;
        top: 3px;

        @media (max-width: $breakpoint-tablet) {
          border: 2px solid var(--white);
          border-radius: 100%;
          bottom: 2px;
          content: '';
          left: 2px;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }

  .post {
    .link {
      text-decoration: none !important;
    }
    
    &:hover,
    &:focus {
      .image {
        @apply lg:scale-[1.03];
        @apply lg:origin-center;
      }

      .button--card {
        @apply border-transparent;
        @apply bg-green;
      }
    }
  }
}
