flynt-component[name='ListingMap'] {
  // stylelint-disable selector-max-id
  #dottedMap {
    svg {
      clip-path: polygon(4% 2%, 100% 3%, 100% 99%, 3% 98%);
      
      @media (min-width: $breakpoint-desktop) {
        clip-path: polygon(3% 1%, 98% 1%, 98% 99%, 3% 98%);
      }
    }
  }

  button {
    &.active {
      @apply bg-cbegreen;
      @apply w-lg;
      @apply h-lg;
      @apply -translate-x-[25px];
      @apply -translate-y-[25px];
      z-index: 9999;

      &::before {
        border: 3px solid var(--white);
        border-radius: 100%;
        bottom: 3px;
        content: '';
        left: 3px;
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }
  }

  .post {
    &:hover,
    &:focus {
      .image {
        transform: scale(1.2);
      }

      .button--outlineBlack {
        @apply border-transparent;
        @apply bg-green;
      }
    }
  }
}
