<div class="flyntComponent" is="flynt-block-post-header">
  <div class="container">
    <div class="content">
      <h2 class="h3 font-normal">{{ post.title }}</h2>
      {% if post.thumbnail and (post.type == 'post' or post.type == 'job') %}
        <div class="featuredImage">
          {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeFull' }, noComponentSpacing: true }) }}
        </div>
      {% endif %}
      <div class="meta">
      {% if post.field_meta_date and (post.type == 'post') %}

         <time class="meta-date" datetime="{{ post.field_meta_date }}"
            style="
              background: var(--blue);
              color: var(--warmwhite);
              padding: 4px 10px;
              border-radius: 0px;
              font-style: normal;
              "
            >
            {{ post.field_meta_date|date('d.m.y') }}
          </time>          
        {% endif %}
      </div>
    </div>
  </div>
</div>
 