/**
* Animateables
*/
.anim {
	/* Initial styles for animateables, will be changed via JS */
}
 .anim-fade-in {
	 opacity: 0;
}
 .anim-move-up {
	 opacity: 0;
	 transform: translateY(4rem);
}
 .anim-move-down {
	 opacity: 0;
	 transform: translateY(-4rem);
}
 .anim-move-left {
	 opacity: 0;
	 transform: translateX(4rem);
}
 .anim-move-right {
	 opacity: 0;
	 transform: translateX(-4rem);
}
 
  .modal-overflow-gradient-top {
    &::before {
      content: '';
      position: fixed;
      @apply top-[8rem] md:top-0;      
      right: 0;
      @apply w-full md:w-[59%];
      height: 4rem;
      @apply rounded-t;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 62.25%, rgb(255, 255, 255) 100%);
    }
  }

  .modal-overflow-gradient-bottom {

    &::after {
      content: '';
      @apply fixed;
      bottom: 0;
      right: 0;
      @apply w-[59%];
      height: 8rem;
      @apply rounded-b;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70.25%, rgb(255, 255, 255) 100%);
    }
  }
  