/**
* Animateables
*/

.anim {
    /* Initial styles for animateables, will be changed via JS */
    &-fade-in {
      opacity: 0;
    }
  
    &-move-up {
      opacity: 0;
      transform: translateY(4rem);
    }
  
    &-move-down {
      opacity: 0;
      transform: translateY(-4rem);
    }
  
    &-move-left {
      opacity: 0;
      transform: translateX(4rem);
    }
  
    &-move-right {
      opacity: 0;
      transform: translateX(-4rem);
    }
  }
  