/**
*  Typography
*/

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AeonikPro-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/AeonikPro-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/AeonikMono-Bold.woff2') format('woff2');
}


html {
  color: var(--black);
  font-family: 'Aeonik', Verdana, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  // @media (max-width: $breakpoint-desktop) {
  //   font-size: 12px;
  // }
}

body {
  font-family: 'Aeonik', Verdana, sans-serif;
}

p,
.paragraph,
.body {
  font-family: 'Aeonik', Verdana, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
  line-height: normal;
  margin-block-end: 1em;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.563rem;
    line-height: 140%;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

// Title Large
h1,
.titleLarge {
  font-size: 2.813rem;
  line-height: normal;
  @apply mb-sm;

  @media (min-width: $breakpoint-desktop) {
    font-size: 4.813rem;
  }
}

// Title Small
h2,
.titleSmall {
  font-size: 2.188rem;
  line-height: normal;
  @apply mb-sm;

  @media (min-width: $breakpoint-desktop) {
    font-size: 3.438rem;
    line-height: 110%;
  }
}

// Subtitle
h3,
.subtitle {
  font-size: 1.875rem;
  line-height: normal;
  @apply mb-sm;

  @media (min-width: $breakpoint-desktop) {
    font-size: 2.188rem;
  }
}

// Glance
.glance {
  font-size: 1.5rem;
  line-height: 110%;

  @media (min-width: $breakpoint-desktop) {
    font-size: 2.813rem;
  }
}

// Caption
h6,
.caption {
  font-size: 0.938rem;
  line-height: normal;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.125rem;
  }
}

:not(nav) {
  body,
  p
  .paragraph,
  .body {
    a {
      color: currentColor;
      letter-spacing: 0.5px;
      text-decoration: underline;
      text-decoration-color: currentColor;
  
      &:hover,
      &:focus {
        text-decoration-color: var(--green);
      }
    }
  }
}

.font-mono {
  font-family: 'Aeonik Mono', Courier, monospace;
}

hr {
  background-color: inherit;
  border: 0;
  height: 2px;
  margin: 1.25rem auto;

  @media (min-width: $breakpoint-desktop) {
    margin: 1.563rem auto;
  }
}

code {
  background: var(--color-background-secondary);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.95em;
  padding: 0 0.375em;
  word-break: break-word;
}

blockquote,
.blockquote {
  border-inline-start: 5px solid var(--color-accent);
  display: block;
  font-size: 1.44rem;
  font-style: italic;
  font-weight: 500;
  line-height: calc(1em + 0.75rem);
  margin: var(--flow-space) 0 var(--flow-space) 2.5rem;
  max-width: 100%;
  padding-inline-start: 0.8rem;

  footer {
    color: var(--color-text-muted);
    font-size: var(--body-font-size);
    margin-block-start: 0.25rem;
  }
}

/**
* Lists & Tables
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color-text);
  font-size: var(--body-font-size-small);
  max-width: 100%;
  width: 100%;

  caption {
    caption-side: bottom;
    color: var(--color-text-muted);
    margin-block-start: calc(var(--flow-space) / 2);
    text-align: start;
  }

  td,
  th {
    padding: 0.9rem 1rem;
    text-align: inherit;
    vertical-align: top;
  }

  th {
    color: var(--color-text-muted);
    font-weight: 500;
  }

  td {
    min-width: 25ch;
  }

  thead {
    background-color: var(--color-background-secondary);
    border-block-end: solid 2px var(--color-border);
  }

  tr {
    &:nth-child(even) {
      background-color: var(--color-background-secondary);
    }
  }
}

/**
* Buttons
*/

.button {
  @include reset-link;
  @apply appearance-none;
  @apply cursor-pointer;
  @apply flex;
  @apply gap-sm;
  @apply items-center;
  @apply no-underline;
  @apply px-sm;
  @apply py-xs;
  @apply lg:px-md;
  @apply relative;
  @apply rounded-full;
  @apply text-button;
  @apply text-center;
  @apply transition-all;
  @apply ease-linear;
  @apply duration-200;
  @apply h-fit;
  @apply w-fit;
  @apply z-50;


  &:disabled {
    @apply cursor-default;
    @apply opacity-5;
    @apply pointer-events-none;
  }

  &--green {
    @apply bg-green;
    @apply hover:bg-cbegreen;
    @apply text-black;
    @apply hover:text-white;

    &Big {
      @apply text-bodyMobile;
      @apply lg:text-body;
    }
  }

  &--outlineWhite {
    @apply border-white;
    @apply hover:border-transparent;
    @apply active:border-transparent;
    @apply hover:bg-green;
    @apply active:bg-green;
    @apply text-white;
    @apply border;
    @apply bg-transparent;    
  }

  &--outlineBlack {
    @apply border-black;
    @apply hover:border-transparent;
    @apply active:border-black;
    @apply hover:bg-cbegreen;
    @apply text-black;
    @apply hover:text-white;
    @apply border;
    @apply bg-transparent;
  }

  &--outlineBlackWhite {
    @apply border-white;
    @apply active:border-black;
    @apply hover:bg-white;
    @apply text-white;
    @apply hover:text-black;
    @apply border;
    @apply bg-transparent;
  }

  &--card {
    @apply border-black;
    @apply hover:border-transparent;
    @apply text-black;
    @apply border;
    @apply bg-transparent;
  }

  &--arrow {
    @apply border-black;
    @apply hover:border-transparent;
    @apply active:border-black;
    @apply hover:bg-white;
    @apply border;
    @apply bg-transparent;
    @apply hover:bg-green;
    @apply active:bg-green;
    @apply h-[45px];
    @apply justify-center;
    @apply p-0;
    @apply w-[45px];

    &::after {
      content: url('data:image/svg+xml,%3Csvg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M26.0225 8.80086C26.413 8.41034 26.413 7.77717 26.0225 7.38665L19.6586 1.02268C19.268 0.63216 18.6349 0.63216 18.2443 1.02268C17.8538 1.41321 17.8538 2.04637 18.2443 2.4369L23.9012 8.09375L18.2443 13.7506C17.8538 14.1411 17.8538 14.7743 18.2443 15.1648C18.6349 15.5553 19.268 15.5553 19.6586 15.1648L26.0225 8.80086ZM0.855469 9.09375L25.3154 9.09375L25.3154 7.09375L0.855469 7.09375L0.855469 9.09375Z" fill="black"/%3E%3C/svg%3E%0A');
      transition: all 0.2s linear;
    }
  }

  &--link {
    @apply bg-transparent;
    @apply hover:bg-transparent;
    @apply text-black;
    @apply hover:text-black;
    @apply p-0;
    @apply w-max;

    &::after {
      content: url('data:image/svg+xml,%3Csvg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.0898 1.75391C17.0898 1.20162 16.6421 0.753906 16.0898 0.753906L7.08984 0.753907C6.53756 0.753906 6.08984 1.20162 6.08984 1.75391C6.08984 2.30619 6.53756 2.75391 7.08984 2.75391L15.0898 2.75391L15.0898 10.7539C15.0898 11.3062 15.5376 11.7539 16.0898 11.7539C16.6421 11.7539 17.0898 11.3062 17.0898 10.7539L17.0898 1.75391ZM1.79695 17.461L16.797 2.46101L15.3827 1.0468L0.382737 16.0468L1.79695 17.461Z" fill="black"/%3E%3C/svg%3E%0A');
      transition: all 0.2s linear;
    }

    &:hover,
    &:focus {
      &::after {
        @apply ml-[5px];
      }
    }
  }

  &--text {
    background-color: transparent;
    border: 0;
    color: var(--color-accent);
    padding: 0;
  }
}

/**
* Forms
*/

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  color: var(--color-text);
  font-size: var(--body-font-size);
  font-weight: 700;
  padding: 0;
}

label {
  color: var(--color-text-muted);
  font-size: var(--body-font-size-small);
  font-weight: 500;
}

#{$input-selectors} {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 9999px;
  caret-color: var(--white);
  color: var(--white);
  font-size: var(--body-font-size-small);
  max-width: 300px;
  outline: none;
  padding: 0.75rem 0.625rem;
  transition: border-color 0.3s ease-in-out;
  width: 100%;

  &::placeholder {
    color: var(--white);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='rgb(48, 48, 48)' stroke-width='5'  points='2,9 16,25 30,9 '/%3E%3C/svg%3E");
  background-position: calc(100% - 0.75rem) center;
  background-repeat: no-repeat;
  background-size: 1rem;
  line-height: 1.75;
  padding-inline-end: 45px;
}

textarea {
  min-height: 150px;
  resize: vertical;
  vertical-align: top;
  width: 100%;
}

[type='checkbox'],
[type='radio'] {
  accent-color: var(--black);
  display: inline-block;
  height: 20px;
  margin-block-start: 4px;
  margin-inline-end: 8px;
  vertical-align: top;
  width: 20px;

  + label {
    color: var(--color-text);
    display: inline-block;
    font: inherit;
    width: calc(100% - 33px);
  }
}

/**
* Helpers
*/

flynt-component {
  display: block;
  position: relative;
}

/* Base flow for content */

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  .admin-bar & {
    padding-block-start: var(--wp-admin--admin-bar--height);
  }
}

.componentSpacing {
  margin: var(--component-spacing) 0;

  &[data-theme] {
    margin: 0;
    padding: var(--component-spacing) 0;
  }

  /* Use flow-space as componentSpacing for all components in single post layouts. */
  .post-main & {
    --component-spacing: var(--flow-space);
  }
}

.centerMaxWidthContainer {
  margin-inline: auto;
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding);
}

.centerMaxWidthContainerLarge {
  margin-inline: auto;
  max-width: var(--container-max-width-large);
  padding-inline: var(--container-padding);
}

.centerContentMaxWidth {
  margin-inline: auto;
  max-width: var(--content-max-width);
}

.centerContentMaxWidthLarge {
  margin-inline: auto;
  max-width: var(--content-max-width-large);
}

.flowContent {
  > * + * {
    margin-block-start: var(--flow-space);
  }
}

.preContent {
  margin: 0 auto calc(var(--component-spacing) / 2);
  max-width: var(--content-max-width);
  text-align: center;
}

.postContent {
  margin: calc(var(--component-spacing) / 2) auto 0;
  max-width: var(--content-max-width);
  text-align: center;
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

/* Class for text that should only be visible to screen readers */
.visuallyHidden {
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* Skip link behavior */
.skipLink {
  inset-block-start: -100px;
  position: fixed;
  z-index: 999;

  &:focus {
    inset-block-start: 0;
  }
}

/**
* Box Helpers
*/

.boxPadding {
  padding: var(--box-padding);
}

.boxBorder {
  border: solid 2px var(--color-border);
}

.noScroll {
  overflow: hidden;
}

/**
* Themes
*/

[data-theme] {
  background-color: var(--color-background);
  color: var(--color-text);
}

flynt-component {
  .block-title.subtitle {
    line-height: 0.7;
    margin-bottom: 0;
  }
}
