#BorlabsCookieBox {
  .cookie-box {
    a {
      width: 19rem !important;
    }
    
    ._brlbs-h3 {
      font-size: 1.875rem;
      font-weight: 700;
      
      @media (min-width: $breakpoint-desktop) {
        font-size: 2.188rem;
      }
    }
  }
}
