:root {
  /* Colors (Primitives) */
  --black: #000;
  --white: #fff;
  --blue: #003574;
  --lightblue: #2c70c1;
  --lightgrey: #d1d5db;
  --grey: #7b838d;
  --error: #f05252;
  --danger: #ffb900;

  /* Colors (Tokens) */
  --textColor: var(--black);
  --bgColor: var(--white);
  --brandColor: var(--lightblue);
  --accentColor: var(--blue);
  --hoverColor: var(--grey);
  --borderColor: var(--lightgrey);
  --uiColor: var(--grey);
  --errorColor: var(--error);
  --dangerColor: var(--danger);
}
