:root {
  /* Colors (Primitives) */
  --black: #000;
  --white: #fff;
  --cbegreen: #169b83;
  --blue: #0c2569;
  --greenfluo: #6ff79d;
  --mint: #59d6b8;
  --lightgrey: #d1d5db;
  --grey: #7b838d;
  --error: #f05252;
  --danger: #ffb900;
}

[data-theme='cbenergy'] {
  /* Colors (Tokens) */
  --textColor: var(--black);
  --bgColor: var(--white);
  --brandColor: var(--cbegreen);
  --accentColor: var(--greenfluo);
  --hoverColor: var(--mint);
  --borderColor: var(--lightgrey);
  --uiColor: var(--grey);
  --errorColor: var(--error);
  --dangerColor: var(--danger);
}

[data-theme='cbgroup'] {
  /* Colors (Tokens) */
  --textColor: var(--black);
  --bgColor: var(--white);
  --brandColor: #302E78;
  --accentColor: #595893;
  --hoverColor: #0096FF;
  --borderColor: var(--lightgrey);
  --uiColor: #708390;
  --errorColor: var(--error);
  --dangerColor: var(--danger);
}
