:root {
  /* Colors (Primitives) */
  --black: #262626;
  --white: #fff;
  --green: #c0f6c0;
  --blue: #1e26a1;
  --lightgrey: #e7ece7;

  /* --lightblue: #2c70c1; */
  /* --grey: #7b838d; */
  --error: #f05252;
  --danger: #ffb900;

  /* Colors (Tokens) */
  --textColor: var(--black);
  --bgColor: var(--lightgrey);
  --brandColor: var(--green);
  --accentColor: var(--green);
  --hoverColor: var(--green);
  --borderColor: var(--blue);
  --uiColor: var(--green);
  --errorColor: var(--error);
  --dangerColor: var(--danger);
}
