@layer components {
    .title-big {

      @apply uppercase whitespace-nowrap;
      @apply font-extraLarge;
      color: transparent;
      width: fit-content;
      -webkit-text-stroke: 2px var(--yellow);
      margin: 0;
  
      @screen md {
        -webkit-text-stroke-width: 1px;
      }
    }

    .yellow-side-title {
      -webkit-text-stroke: 1px var(--yellow);
      @apply text-[6rem] md:text-[15rem];
      line-height: 1;
      color: transparent;
      @apply mx-auto;
      @apply -mt-4 md:-mt-10;
      text-transform: uppercase;
      white-space: nowrap;
      width: fit-content;
      
      @screen md {
        -webkit-text-stroke-width: 2px;
      }
    }
  }
  