@layer components {
    .title-big {

      @apply uppercase whitespace-nowrap;
      @apply font-extraLarge;
      color: transparent;
      width: fit-content;
      -webkit-text-stroke: 2px var(--yellow);
      margin: 0;
  
      @screen md {
        -webkit-text-stroke-width: 1px;
      }
    }

    .yellow-side-title {
      -webkit-text-stroke: 1px var(--yellow);
      font-size: 24rem;
      line-height: 1;
      color: transparent;
      margin: -4rem auto 0 auto;
      text-transform: uppercase;
      white-space: nowrap;
      width: fit-content;
      
      @screen md {
        -webkit-text-stroke-width: 2px;
      }
    }
  }
  