@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AeonikPro-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/AeonikPro-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/AeonikMono-Bold.woff2') format('woff2');
}
