@tailwind base;

html {
  text-wrap: balance;
  @apply font-sans;

  /* @screen xl {
    font-size: 1.1111vw;
    font-size: clamp(1rem, 1.111111vw, 3rem); 
  } */
}

body {
  @apply font-paragraph;
}

@layer base {

  /* -- Paragraphs -- */
  .font-extraLarge {
    
  }

  .font-pageTitle {
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    font-size: 10rem;

    @screen md {
      line-height: 1.11;
      font-size: 7.2rem;
      letter-spacing: -1px;
    }
  }


  .font-sectionTitle {
    font-size: 6rem;
    letter-spacing: 0;
    line-height: 1.25;

    @screen md {
      letter-spacing: normal;
      font-size: 3.6rem;
    }
  }

  .font-contentTitle {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: normal;

    @screen md {
      font-size: 2rem;
    }
  }
  
  .font-paragraph {
    font-size: 4.5rem;
    line-height: 1.25;
    
    @screen md {
      font-size: 2.2rem;
      line-height: 1.59;
    }
  }

  .font-paragraphSmall {
    font-size: 4rem;
    line-height: 1.25;
    
    @screen md {
      font-size: 1.8rem;
      line-height: 1.56;
    }
  }

  .font-caption {
    font-size: 3rem;
    line-height: 1.25;

    @screen md {
      font-size: 1.5rem;
    }
  }

  .font-button {
    @apply font-bold;
    font-size: 4rem;
    line-height: 1.5;

    @screen md {
      font-size: 2rem;
    }

  }

  .font-quoteBig {
    @apply font-mono font-bold;
    
      line-height: 1;
      font-size: 10rem;
      letter-spacing: 0;
    
    @screen md {
      line-height: 1.11;
      font-size: 7.2rem;
      letter-spacing: normal;
    }
  }

  .font-quoteMedium {
    @apply font-mono font-bold;
    line-height: 1.25;
    font-size: 4rem;

    @screen md {
      font-size: 3.6rem;
    }
  }

  .font-quoteSmall {
    @apply font-mono;
    font-size: 4rem;
    line-height: 1.59;
    @screen md {
      font-size: 2.2rem;
    }
  }

  .link {
    @apply text-linkColor;
    &:hover {
      text-decoration: underline;
    }
  }

  .wysiwyg,
  #tinymce,
  .prose {
    p {
      @apply font-paragraph;
      @apply my-sm;

      &:last-child {
        margin-block-end: 0;
      }

      &:first-child {
        margin-block-start: 0;
      }
    }

    .button {
      @apply font-paragraphSmall;
    }

    pre {
      @apply font-paragraphSmall;
      @apply font-mono;
      display: block;
      text-wrap: wrap;
      @apply pb-sm;
      white-space: pre-wrap;
    }

    h1 {
      @apply font-pageTitle;
      @apply mb-lg;

      &:last-child {
        margin-block-end: 0;
      }
    }

    h2 {
      @apply font-sectionTitle;
      @apply my-md;

      &:last-child {
        margin-block-end: 0;
      }
    }

    h3 {
      @apply font-contentTitle;
      @apply my-sm;

      &:last-child {
        margin-block-end: 0;
      }
    }

    .pageTitle {
      @apply font-pageTitle;
    }

    .sectionTitle {
      @apply font-sectionTitle;
    }

    .contentTitle {
      @apply font-contentTitle;
    }

    .caption {
      @apply font-caption;
    }

    a {
      @apply link;
    }

    ul {
      list-style: none;
      margin-block-end: 1em;
      margin-left: 2rem;

      li {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          width: rem(10);
          height: rem(10);
          left: -1em;
          top: 0.5em;
          margin-right: 0.5em;
          margin-bottom: 0.05em;
          background-color: currentColor;
        }
      }
    }

    ol {
      list-style: decimal;
      margin-block-end: 1em;
      margin-left: 1.5em;
    }

    ul,
    ol {
      li {
        @apply font-paragraph;
        list-style: inherit;
        margin-block-end: .25em;

        &::marker {
          font-weight: bold;
        }

        &:last-child {
          margin-block-end: 1em;
        }
      }
    }

  }

}