@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  /* Custom Base Style     *
   * EDIT TEXT STYLES HERE */

  html {
    color: var(--textColor);
    font-family: 'Aeonik', Verdana, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  }

  .font-body {
    @apply font-family-sans;
    font-size: 1.25rem;
    letter-spacing: 0.75px;
    line-height: normal;
    margin-block-end: 1em;

    @screen lg {
      font-size: 1.563rem;
      line-height: 140%;
    }
  }

  .font-titleLarge {
    font-size: 2.813rem;
    line-height: normal;
    @apply mb-sm;

    @screen lg {
      font-size: 4.813rem;
    }
  }

  .font-titleSmall {
    font-size: 2.188rem;
    line-height: normal;
    @apply mb-sm;

    @screen lg {
      font-size: 3.438rem;
      line-height: 110%;
    }
  }

  .font-glance {
    font-size: 1.5rem;
    line-height: 110%;

    @screen lg {
      font-size: 2.813rem;
    }
  }

  .font-subtitle {
    font-size: 1.875rem;
    line-height: normal;

    @screen lg {
      font-size: 2.188rem;
    }
  }

  .font-caption {
    font-size: 0.938rem;
    line-height: normal;

    @screen lg {
      font-size: 1.125rem;
    }
  }

  /* Fonts for WYSIWYG */

  .wysiwyg {
    p {
      @apply font-body;

      &:last-child {
        margin-block-end: 0;
      }
    }

    h1 {
      @apply font-titleLarge;
    }

    h2 {
      @apply font-titleSmall;
    }

    h3 {
      @apply font-subtitle;
      @apply mb-sm;
    }

    h4 {
      @apply font-body;
    }

    h5 {
      @apply font-caption;
    }

    h6 {
      @apply font-caption;
    }

    ul {
      list-style: disc;
      margin-block-end: 1em;
      margin-left: 25px;
    }

    ol {
      list-style: decimal-leading-zero;
      margin-block-end: 1em;
      margin-left: 47px;
    }

    ul,
    ol {
      li {
        @apply font-sans;
        font-size: 1.25rem;
        letter-spacing: 0.75px;
        line-height: normal;
        list-style: inherit;
        margin-block-end: 1em;
        padding-left: 15px;

        @screen lg {
          font-size: 1.563rem;
          line-height: normal;
        }

        &::marker {
          font-weight: bold;
        }

        &:last-child {
          margin-block-end: 1em;
        }
      }
    }
  }

  /* Fonts General  */

  html body .paragraph,
  html body .body {
    @apply font-body;
  }

  .paragraph:last-child,
  .body:last-child {
    margin-block-end: 0;
  }

  html body .titleLarge {
    @apply font-titleLarge;
  }

  html body .titleSmall {
    @apply font-titleSmall;
  }

  .glance {
    @apply font-glance;
  }

  html body .subtitle {
    @apply font-subtitle;
  }

  html body .caption {
    @apply font-caption;
  }

  li,
  ul,
  ol {
    @apply list-none;
  }
}

@layer components {
  /* Custom Components Style
  ONLY USE SMALL, HIGHLY REUSABLE COMPONENTS (ATOMS) LIKE BUTTONS OR FORMS CONTROLS */

  .button.button--card {
    @apply text-current;
    @apply border;
    @apply border-current;
    @apply hover:border-transparent;
    @apply focus:border-current;
    @apply group-hover:border-transparent;
    @apply group-focus:border-current;
    @apply bg-transparent;
    @apply hover:bg-hoverColor;
    @apply focus:bg-hoverColor;
    @apply group-hover:bg-hoverColor;
    @apply group-focus:bg-hoverColor;
  }

  .button.button--link {
    @apply hover:bg-hoverColor;
    @apply focus:bg-hoverColor;
    @apply group-hover:bg-hoverColor;
    @apply group-focus:bg-hoverColor;
    @apply group-hover:border-transparent;
    @apply group-focus:border-textColor;
  }

  .button.button--arrow {
    @apply hover:bg-hoverColor;
    @apply focus:bg-hoverColor;
    @apply group-hover:bg-hoverColor;
    @apply group-focus:bg-hoverColor;
    @apply group-hover:border-transparent;
    @apply group-focus:border-textColor;
  }

  flynt-component[name='NavigationMain'] {
    .button.button--external {
      @apply border;
      @apply border-bgColor;
      @apply bg-transparent;
      @apply hover:bg-bgColor;
      @apply hover:border-bgColor;
      @apply active:border-bgColor;
      @apply text-bgColor;
      @apply hover:text-hoverColor;
      @apply focus:text-hoverColor;
      @apply active:text-hoverColor;

      &:hover,
      &:focus,
      &:active {
        a {
          @apply text-hoverColor;
        }
      }

      a {
        @apply leading-none;
        @apply m-0;
        @apply -translate-y-[2px];
        @apply hover:text-hoverColor;
        @apply focus:text-hoverColor;
        @apply active:text-hoverColor;
        @apply hover:bg-transparent;
        @apply active:bg-transparent;

        &::after {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="49" height="29" viewBox="0 0 49 29" fill="none"%3E%3Cpath d="M0 14.1504H47.0278" stroke="%23fff" stroke-width="2"/%3E%3Cpath d="M34.2695 1L47.5354 14.2658L34.2695 27.5317" stroke="%23fff" stroke-width="2"/%3E%3C/svg%3E');
        }
      }
    }
  }

  flynt-component[name='NavigationBurger'] {
    .button.button--external {
      @apply mt-sm;
      @apply mx-sm;
      @apply border;
      @apply border-bgColor;
      @apply bg-transparent;
      @apply hover:bg-bgColor;
      @apply hover:border-bgColor;
      @apply active:border-bgColor;
      @apply text-bgColor;
      @apply hover:text-hoverColor;
      @apply focus:text-hoverColor;
      @apply active:text-hoverColor;

      &:hover,
      &:focus,
      &:active {
        a {
          @apply text-hoverColor;

          &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='19' viewBox='0 0 32 19' fill='none'%3E%3Cline y1='9.5' x2='30.2116' y2='9.5' stroke='%237CD3B9' stroke-width='2'/%3E%3Cpath d='M22.0195 1L30.5418 9.52223L22.0195 18.0445' stroke='%237CD3B9' stroke-width='2'/%3E%3C/svg%3E");
          }
        }
      }

      a {
        @apply m-0;
        @apply p-0;
        @apply border-b-0;
        @apply -translate-y-[0];
        @apply hover:text-hoverColor;
        @apply focus:text-hoverColor;
        @apply active:text-hoverColor;
        @apply hover:bg-transparent;
        @apply active:bg-transparent;

        &::after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='19' viewBox='0 0 32 19' fill='none'%3E%3Cline y1='9.5' x2='30.2116' y2='9.5' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M22.0195 1L30.5418 9.52223L22.0195 18.0445' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
          @apply ml-[10px];
        }
      }
    }
  }

  [data-theme='cbenergy'] {
    flynt-component[name='NavigationMain'] {
      .button.button--external {
        &:hover,
        &:focus,
        &:active {
          a {
            @apply text-hoverColor;
  
            &::after {
              content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="49" height="29" viewBox="0 0 49 29" fill="none"%3E%3Cpath d="M0 14.1504H47.0278" stroke="%237CD3B9" stroke-width="2"/%3E%3Cpath d="M34.2695 1L47.5354 14.2658L34.2695 27.5317" stroke="%237CD3B9" stroke-width="2"/%3E%3C/svg%3E');
            }
          }
        }
      }
    }

    flynt-component[name='NavigationBurger'] {
      .button.button--external {
        &:hover,
        &:focus,
        &:active {
          a {
            @apply text-hoverColor;
  
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='19' viewBox='0 0 32 19' fill='none'%3E%3Cline y1='9.5' x2='30.2116' y2='9.5' stroke='%237CD3B9' stroke-width='2'/%3E%3Cpath d='M22.0195 1L30.5418 9.52223L22.0195 18.0445' stroke='%237CD3B9' stroke-width='2'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }

  [data-theme='cbgroup'] {
    flynt-component[name='NavigationMain'] {
      .button.button--external {
        &:hover,
        &:focus,
        &:active {
          a {
            @apply text-hoverColor;
  
            &::after {
              content: url('data:image/svg+xml,%3Csvg width="49" height="29" viewBox="0 0 49 29" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 14.1504H47.0278" stroke="%230096FF" stroke-width="2"/%3E%3Cpath d="M34.2695 1L47.5354 14.2658L34.2695 27.5317" stroke="%230096FF" stroke-width="2"/%3E%3C/svg%3E');
            }
          }
        }
      }
    }

    flynt-component[name='NavigationBurger'] {
      .button.button--external {
        &:hover,
        &:focus,
        &:active {
          a {
            @apply text-hoverColor;
  
            &::after {
              content: url('data:image/svg+xml,%3Csvg width="32" height="19" viewBox="0 0 32 19" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cline y1="9.5" x2="30.2116" y2="9.5" stroke="%230096FF" stroke-width="2"/%3E%3Cpath d="M22.0195 1L30.5418 9.52223L22.0195 18.0445" stroke="%230096FF" stroke-width="2"/%3E%3C/svg%3E%0A');
            }
          }
        }
      }
    }
  }

  flynt-component[name='BlockImageTextFull'] .icon svg {
    @apply scale-75;
    @apply -translate-x-[10px];
    @apply lg:scale-110;
    @apply lg:-translate-x-0;
  }

  flynt-component[name='BlockNewsletter'] {
    .wpcf7 {
      align-items: center;
      display: flex;
      justify-content: center;

      @screen md {
        justify-content: space-between;
      }

      form {
        align-items: flex-start;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 100%;

        .wpcf7-response-output {
          margin-top: 50px;

          @screen sm {
          }

          @screen lg {
          }
        }
      }

      &-spinner {
        display: none;
      }

      .wpcf7-not-valid-tip {
        position: absolute;
        top: 55px;
      }

      input {
        @apply px-sm;
        @apply py-xs;
      }

      button {
        &.wpcf7-submit {
          @apply px-sm;
          @apply py-xs;
          @apply border-l;
          @apply border-bgColor;
          @apply cursor-pointer;
          @apply rounded-r-full;
          @apply rounded-l-none;
          @apply hover:bg-bgColor;
          @apply text-bgColor;
          @apply hover:text-textColor;
          @apply transition-all;
        }
      }
    }
  }

  flynt-component[name='BlockProjectBox'] #dottedMap {
    svg {
      clip-path: polygon(4% 2%, 100% 3%, 100% 99%, 3% 98%);

      @screen lg {
        clip-path: polygon(1% 2%, 129% 1%, 107% 96%, 3% 98%);
      }
    }
  }

  flynt-component[name='BlockWysiwyg'] .content br {
    content: '\00a0';

    @screen lg {
      content: '\0x0d';
    }
  }

  flynt-component[name='ListingFlex'] {
    @screen md {
      .firstItemLarger {
        .post {
          min-height: auto;

          figure {
            img {
              @apply max-h-[370px];
              @apply xl:max-h-[345px];
              @apply max:max-h-[330px];
            }
          }

          &:first-child {
            grid-column-end: 3;
            grid-column-start: 1;

            figure {
              img {
                aspect-ratio: 2/1;
              }
            }

            .content {
              aspect-ratio: 2/1;
            }
          }
        }
      }
    }
  }

  flynt-component[name='ListingMap'] {
    #dottedMap {
      svg {
        clip-path: polygon(0.5% 1%, 100% 1%, 100% 100%, 0% 100%);

        @screen sm {
          clip-path: polygon(0.5% 1%, 100% 1%, 100% 100%, 2.5% 100%);
        }

        @screen lg {
          clip-path: polygon(3% 1%, 98% 1%, 98% 99%, 3% 98%);
        }
      }
    }

    button {
      &.active {
        @apply bg-brandColor;
        @apply w-[25px];
        @apply h-[25px];
        @apply -translate-x-[12.5px];
        @apply -translate-y-[12.5px];
        @apply md:w-lg;
        @apply md:h-lg;
        @apply md:-translate-x-[25px];
        @apply md:-translate-y-[25px];
        z-index: 9999;

        &::before {
          border: 2px solid var(--bgColor);
          border-radius: 100%;
          bottom: 2px;
          content: '';
          left: 2px;
          position: absolute;
          right: 2px;
          top: 2px;

          @screen md {
            border: 3px solid var(--bgColor);
            border-radius: 100%;
            bottom: 3px;
            content: '';
            left: 3px;
            position: absolute;
            right: 3px;
            top: 3px;
          }
        }
      }
    }
  }

  flynt-component[name='ScrollytellingImage'] {
    /* // Do we need this? */
    .panel:first-child {
      img {
        display: block !important;
        opacity: 1 !important;
      }
    }

    .panel:last-child {
      img {
        border: 0;
      }
    }
  }

  flynt-component[name='HeroContactForm'] {
    .wpcf7 {
      align-items: flex-start;
      display: flex;
      justify-content: flex-start;

      label {
        color: var(--textColor);
        @apply mb-[5px];
      }

      form {
        align-items: flex-start;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 100%;

        @screen sm {
          flex-flow: row wrap;
        }

        .wpcf7-response-output {
          @screen sm {
            position: absolute;
            right: calc(50% - 325px);
            top: 550px;
            width: 301px;
          }

          @screen lg {
            top: 630px;
          }
        }
      }

      &-list-item {
        margin: 0 20px 0 0;

        label {
          align-items: center;
          display: flex;

          input {
            margin-block-start: 0;
          }
        }
      }

      &-spinner {
        display: none;
      }

      &-not-valid-tip {
        @apply font-caption;
      }

      &-response-output {
        bottom: 0;
        position: absolute;
      }

      [type='tel'],
      [type='url'],
      [type='text'],
      [type='date'],
      [type='email'],
      [type='search'],
      [type='number'],
      [type='password'],
      textarea {
        appearance: none;
        background-color: var(--bgColor);
        border: 2px solid var(--textColor);
        border-radius: 0;
        caret-color: var(--textColor);
        color: var(--textColor);
        font-size: var(--body-font-size-small);
        max-width: 100%;
        outline: none;
        padding: 10px;
        transition: border-color 0.3s ease-in-out;
        width: 100%;

        &::placeholder {
          color: var(--textColor);
          opacity: 0.5;
        }

        &:disabled {
          cursor: default;
          opacity: 0.5;
          pointer-events: none;
        }

        &:invalid {
          border-color: var(--errorColor);
        }
      }

      input {
        @apply px-sm;
        @apply py-xs;
      }

      .wpcf7-submit {
        @apply list-none;
        @apply appearance-none;
        @apply cursor-pointer;
        @apply flex;
        @apply gap-sm;
        @apply items-center;
        @apply no-underline;
        @apply px-sm;
        @apply py-xs;
        @apply lg:px-md;
        @apply relative;
        @apply rounded-full;
        @apply text-button;
        @apply text-center;
        @apply transition-all;
        @apply ease-linear;
        @apply duration-200;
        @apply h-fit;
        @apply w-fit;
        @apply z-50;
        @apply bg-bgColor;
        @apply hover:bg-hoverColor;
        @apply focus:bg-hoverColor;
        @apply text-textColor;
        @apply hover:text-textColor;
        @apply border;
        @apply border-textColor;
        @apply hover:border-transparent;
        @apply focus:border-textColor;
      }
    }
  }
}

/* Third party libraries */

flynt-component[name='SliderImages'] {
  .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid var(--bgColor);
    border-radius: 50%;
    display: inline-block;
    height: 15px !important;
    margin: 0 7.5px !important;
    opacity: 1;
    width: 15px !important;

    &-active {
      background: var(--bgColor) !important;
      opacity: 1;
    }
  }
}

flynt-component[name='SliderText'] {
  .slider {
    &-button {
      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      @screen sm {
        svg {
          path {
            fill: var(--textColor) !important;
          }
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    align-items: center;
    bottom: 35px !important;
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: absolute;
    top: auto !important;
    z-index: 50;

    @media (min-width: 640px) {
      display: none !important;
    }
  }

  .swiper-pagination-bullet {
    background: transparent !important;
    border: 2px solid currentColor;
    border-radius: 100%;
    display: inline-block;
    height: 15px !important;
    opacity: 1 !important;
    width: 15px !important;

    &-active {
      background: currentColor !important;
      opacity: 1 !important;
    }
  }
}

@layer utilities {
  .font-family-mono {
    font-family: 'Aeonik Mono', Courier, monospace;
  }

  .font-family-sans {
    font-family: 'Aeonik', Verdana, sans-serif;
  }
  .box-inherit {
    box-sizing: inherit;
  }

  .grid-cols-3-100vw {
    grid-template-columns: repeat(3, 100vw);
  }

  .leading-subtitle {
    line-height: 1;

    @screen lg {
      line-height: 1;
    }
  }

  .svg-w-full {
    svg {
      width: 100%;
    }
  }

  .svg-h-full {
    svg {
      height: 100%;
    }
  }
}

@layer variants {
  .group:hover .button--arrow::after {
    @apply ml-[5px];
  }

  .group:focus .button--arrow::after {
    @apply ml-[5px];
  }
}
