@import url("https://use.typekit.net/tzp8fky.css");

/* @font-face {
  font-display: auto;
  font-family: 'Inter';
  font-style: normal;
  src: url('/assets/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Inter';
  font-style: italic;
  src: url('/assets/fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'EB Garamond';
  font-style: normal;
  src: url('/assets/fonts/EBGaramond-Variable.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'EB Garamond';
  font-style: italic;
  src: url('/assets/fonts/EBGaramond-Italic-Variable.woff2') format('woff2');
} */


@font-face {
  font-display: auto;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2');
}