:root,
[data-theme='reset'] {
  --color-accent: hsl(212deg 100% 45% / 100%);
  --color-background: hsl(0deg 0% 100% / 100%);
  --color-background-secondary: hsl(0deg 0% 19% / 8%);
  --color-border: hsl(0deg 0% 90%);
  --color-border-secondary: hsl(0deg 0% 19% / 68%);
  --color-text: #000;
  --color-text-muted: hsl(0deg 0% 19% / 80%);
  --color-error: hsl(343deg 98% 46%);
}

[data-theme='cbenergy'] {
  --primary: #0c2569;
  --secondary: #169b83;
}

[data-theme='cbaccess'] {
  --primary: #302e78;
  --secondary: #007506;
}

[data-theme='cbadvisory'] {
  --primary: #0c2569;
  --secondary: #002cf0;
}

[data-theme='cbdhowventures'] {
  --primary: #302e78;
  --secondary: #f06c00;
}


/* $breakpoint-mobile: 780px;
$breakpoint-tablet: 1024px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .titleLarge, .titleSmall, .subtitle';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea'; */

:root {
  /* // --body-font-size: 1.125rem; // Always use rem. 1rem = 16px
  // --body-font-size-small: 1rem;
  // --flow-space: 1.5625rem; */

  /* Colors (Primitives) */
  --black: #000;
  --white: #fff;
  --cbegreen: #169b83;
  --greenfluo: #6ff79d;
  --mint: #59d6b8;
  --lightgrey: #d1d5db;
  --grey: #7b838d;
  --error: #f05252;
  --danger: #ffb900;
  
  /* Colors (Tokens) */
  --textColor: var(--black);
  --bgColor: var(--white);
  --brandColor: var(--cbegreen);
  --accentColor: var(--greenfluo);
  --hoverColor: var(--mint);
  --borderColor: var(--lightgrey);
  --uiColor: var(--grey);
  --errorColor: var(--error);
  --dangerColor: var(--danger);

  --content-max-width: 55ch;
  --content-max-width-large: 75ch;
  --container-max-width: calc(1200px + (var(--container-padding) * 2));
  --container-max-width-large: calc(1340px + (var(--container-padding) * 2));
  --box-padding: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --container-padding: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6vw + 1.2rem, 6rem);
}
