<flynt-component load:on="visible" name="ArchiveProjects" data-type="listing" class="" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
  <div class="max-w-screen-max w-full mx-auto p-sm md:p-md lg:p-lg">
    {% if terms %}
      {% include 'Partials/_filter.twig' %}
    {% endif %}

    {% if posts|length > 0 %}
      <ul
        class="
          w-full
          mx-auto
          grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3
          gap-sm lg:gap-md
        "
      >
        {% for post in posts %}
          {% include 'Atoms/Cards/project.twig' with {post: post} %}
        {% endfor %}
      </ul>
      {% else %}
        <p class="posts-empty">{{ labels.noPostsFound }}</p>
      {% endif %}

      {% set pagination = posts.pagination %}
      {% if pagination.pages %}
        {% include 'Partials/_pagination.twig' %}
      {% endif %}
  </div>
  </flynt-component>
