.cta {
  .button {
    padding: var(--padding_xsmall) var(--padding_small);
  }

  &-mobile {
    padding: var(--padding_small) var(--padding_small) 0;

    @media (min-width: 541px) {
      display: none;
    }
  }

  @media (max-width: 540px) {
    &-mobile {
      display: block;

      .button {
        width: 100%;
      }
    }
  }
}
