<div class="absolute bottom-sm">
  <a class="rounded-full bg-bgColor hover:bg-textColor hover:no-underline inline-flex justify-center items-center py-1 px-2 lg:py-2 lg:px-6 text-button text-center text-textColor hover:text-bgColor ease-linear duration-200" href="{{ ctaLink.url }}" {% if ctaLink.target %} target="{{ ctaLink.target }}" rel="noreferrer noopener"{% endif %}>{{ ctaLink.title|e }}</a>
</div>
