<button data-ref="menuButton" class="hamburger fixed top-sm right-sm z-[9999]" type="button" aria-expanded="false" aria-controls="navigationBurger-menu">
  <span class="visuallyHidden">{{ labels.toggleMenu }}</span>
  <span class="hamburger-lines" aria-hidden="true">
    <span class="hamburger-lines--primary"></span>
    <span class="hamburger-lines--text"></span>
  </span>
</button>
