.logo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  text-decoration: none;

  &-image {
    height: 50px;
    width: auto;

    @media (max-width: 540px) {
      max-width: 215px;
    }
  }

  .logotype {
    font-size: 30px;
  }
}
