flynt-component[name='ScrollytellingImage'] {
  .panel:first-child {
    img {
      display: block !important;
      opacity: 1 !important;
    }
  }

  .panel:last-child {
    img {
      border: 0;
    }
  }
  
  article {
    z-index: 2;
  }
}
