<flynt-component name="CopyButton" load:on="eager">
<button class="copyButton" data-copied-text="{{ "Copied" }}" data-clipboard-text="{{ text }}">
    <span class="copyButton__icon"></span>
    <span class="copyButton__label">{{ label }}</span>
  </button>
</flynt-component>

