<a class="logo logo_light no-underline flex align-middle justify-start shrink-0 h-full w-fit logo" href="{{ site.link|e('esc_url') }}">
  <img class="logo-image h-auto w-extra lg:w-[23rem]" src="{{ logo.src }}" alt="{{ logo.alt }}">
</a>
