  <a class="
    rounded-full px-sm py-xs mt-[7px]
    inline-flex justify-center items-center
    text-button text-center font-bold no-underline
    ease-linear duration-200
  "
  href="{{ ctaLink.url }}"
  {% if ctaLink.target %}
    target="{{ ctaLink.target }}" rel="noreferrer noopener"
  {% endif %}
>
  {{ ctaLink.title|e }}
</a>
