{% if posts|length > 0 %}
  <flynt-component class="" data-type="listing" load:on="visible" name="ListingPeople">
    <div class="w-full max-w-screen-max mx-auto p-sm md:p-md lg:p-lg">
      {% if blockTitle %}
        <div class="w-full mx-auto flex flex-row justify-between items-center content-center pb-sm sm:pb-lg">
          <h2 class="font-bold subtitle !leading-subtitle block-title">{{ blockTitle }}</h2>
          <a href="{{ labels.allPostsLink.url }}" class="font-bold underline hover:no-underline caption">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul class="w-full mx-auto grid gap-0 xs:gap-md xs:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for post in posts %}
          {% include 'Components/_Atoms/Cards/people.twig' with {
            post: post,
            labels: labels,
            options: options
          } %}
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}