{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="
    post mt-[134px] 
    w-full max-w-screen-max mx-auto 
    px-sm lg:px-lg "
    data-navStyle="light-blur"
    >
    <section class="flex flex-col">
      <section class="post-header">
        {{ renderComponent('BlockInsightHeader', { post: post }) }}
      </section>
      <section class="post-main">
        {% if post.post_excerpt %}
          <div class="block md:hidden w-full">
            <div class="text-bodyMobile text-md:body">{{ post.post_excerpt }}</div>
          </div>
        {% endif %}
        {% for component in post.meta('postComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </section>
    </section>
    <section class="post-related">
      {# {{ renderComponent('RelatedInsights', {'blockTitle': __('Related Insights')}) }} #}
    </section>
  </article>
{% endblock %}
