{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header mt-[134px]">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('ListingInsights,', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories()}) }}
    </section>
  </article>
{% endblock %}
