{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="
    post mt-navbar
    w-full max-w-screen-max mx-auto 
    px-sm lg:px-lg"
    data-navStyle="light-blur"
    >
    <header class="post-header">
      {{ renderComponent('ElementPeopleHeader', { post: post }) }}
    </header>
    <section class="post-main max-w-screen-xl mx-auto p-sm xs:p-md sm:p-lg flex flex-col lg:flex-row-reverse gap-lg justify-between items-start">
      <div class="max-w-screen-md">
        {% for component in post.meta('peopleComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </div>
    </section>
  </article>
{% endblock %}
