{% extends 'templates/_document-donation.twig' %}

{% block content %}
  <article class="post post-donation">
    <header class="post-header">
      {% if post.intro %}
        <div class="post-excerpt">{{ post.intro|e('wp_kses_custom') }}</div>
      {% endif %}
    </header>

    <section class="post-main">
{#      <h1>{{ post.title }}</h1>#}
      {% set components = post.meta('donationComponents') %}
      {% if components %}
        {% for component in components %}
          {{ renderComponent(component) }}
        {% endfor %}
      {% else %}
        <div class="container">
          <p>{{ __('This donation page has no components yet. Please add components in the Donation Components field group.', 'flynt') }}</p>
        </div>
      {% endif %}
    </section>
  </article>
{% endblock %}
