{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      {% for component in post.meta('jobComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
  </article>
{% endblock %}
