{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'BlockImageText',
    loadOn: 'idle',
    class: 'overflow-hidden'
} %}

{% set content %}
  <div class="container-grid items-start py-xl">
    {% if options.backgroundEffect %}
      <div class="absolute w-full max-w-screen-max -left-1/2 bottom-0 rotate-[180]">
        <img
          class="lazyload h-full object-cover" 
          data-parallax
          data-rellax-speed="-1"
          data-rellax-percentage="0.1"
          src="/wp-content/themes/boilerplate-flynt-next/assets/images/lines_copper.svg"
          loading="lazy"
          data-sizes="auto"
        >
      </div>
    {% endif %}
    {% include 'media.twig' with {'media': media, 'mediaPosition': media.mediaPosition} %}
    {% include 'text.twig' with {'content': content, 'mediaPosition': media.mediaPosition} %}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}