{% import "Components/_Containers/GridElement.twig" as ge %}

{% set textContent %}
<div class="wysiwyg anim-move-right">
  {{content.contentHtml|e('wp_kses_post')}}
</div>
{% endset %}

{{ ge.gridElement(textContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 4},
        'tablet': {'start': 1, 'end': 8},
        'desktop': mediaPosition == 'right' ? {'start': 1, 'end': 6} : {'start': 7, 'end': 12},
        'wide': mediaPosition == 'right' ? {'start': 1, 'end': 6} : {'start': 7, 'end': 12},
    },
    'class': 'md:row-start-1'
}) }}