<flynt-component load:on="idle" name="HeroLottieAnimation" class="bg-cbegreen">
  <div class="w-auto h-auto relative py-xl px-sm lg:p-lg">
    {% if blockTitle %}
      <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg flex flex-row justify-between align-bottom items-end content-end">
        <div class="h4 text-white">{{ blockTitle }}</div>
      </div>
    {% endif %}
    {% if lottieAnimationLink %}
    <div class="max-w-screen-md mx-auto px-sm lg:px-lg">
      <lottie-player src="{{ lottieAnimationLink }}" background="#169b83" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
    </div>
    {% endif %}
  </div>
</flynt-component>
