[is='flynt-block-post-footer'] .tags {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
[is='flynt-block-post-footer'] .tags-item {
  display: inline-block;
  margin-top: 5px;
}
[is='flynt-block-post-footer'] .author {
  display: flex;
  margin: 3rem 0;
}
[is='flynt-block-post-footer'] .author-avatarLink {
  flex-shrink: 0;
}
[is='flynt-block-post-footer'] .author-avatarImage {
  border-radius: 50%;
  width: 80px;
}
[is='flynt-block-post-footer'] .author-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
@media (min-width: 540px) {
  [is='flynt-block-post-footer'] .author-info {
    padding-left: 2rem;
 }
}
[is='flynt-block-post-footer'] .author-description {
  font-size: 2.5rem;
  margin: 0.5rem 0 0;
}
