[is="flynt-donation-form"] {
  .interval-block {
    margin-bottom: var(--spacing-xl);
    &__has-nudge-text {
      display: grid;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    .nudge_text {
      position: relative;
      max-width: 310px;
      padding: 0 35px 0 0;
      left: -20px;
      p {
        font: var(--font-nudge-text) !important;
        letter-spacing: var(--letter-spacing);
        text-align: center;
        &:last-child {
          margin: 0;
        }
      }
      &:before {
        content: "";
        position: absolute;
        background: var(--arrow-nudge-icon-mobile) no-repeat center;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
      }
    }
    &__max-three {
      justify-content: left;
      grid-template-columns: 1fr  auto;
      gap: 1rem;
      .wrapper-active-intervals {
        flex-direction: column;
        gap: 1rem;
      }
      .nudge_text {
        padding: 0 0 35px 0;
        left: auto;
        &:before {
          background: var(--arrow-nudge-icon-desktop) no-repeat center;
          top: auto;
          bottom: -8px;
          right: auto;
          left: 0;
        }
      }
    }
  }
  @media screen and (min-width: 480px) {
    .interval-block {
      margin-bottom: var(--spacing-xl);
      &__max-three {
        justify-content: center;
        grid-template-columns: auto;
        .wrapper-active-intervals {
          flex-direction: row;
          justify-content: left;
        }
        .nudge_text {
          padding: 0 35px 0 0;
          left: auto;
          right: -70px;
          &:before {
            background: var(--arrow-nudge-icon-mobile) no-repeat center;
            right: 0;
            left: auto;
            bottom: auto;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .interval-block {
      padding: 0 20px;
      &__has-nudge-text:not(.interval-block__max-three) {
        grid-template-columns: auto 1fr;
        justify-items: start;
        .nudge_text {
          width: 100%;
          padding: 0 0 0 35px;
          left: 0;
          &:before {
            background: var(--arrow-nudge-icon-desktop) no-repeat center;
            top: 50%;
            left: 0;
            right: auto;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  @media screen and (min-width: 840px) {
    .interval-block {
      padding: 0 20px;
      &__has-nudge-text {
        .nudge_text {
          width: 100%;
          padding: 0 0 0 35px;
          left: 0;
          &:before {
            background: var(--arrow-nudge-icon-desktop) no-repeat center;
            top: 50%;
            left: 0;
            right: auto;
            transform: translateY(-50%);
          }
        }
        &.interval-block__max-three {
          grid-template-columns: auto 1fr;
          justify-items: start;
          .nudge_text {
            padding: 0 0 0 35px;
            top: 50%;
            left: 0;
            bottom: auto;
            right: auto;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}