[is='flynt-navigation-footer-columns'] {
  background-color: var(--blue);
  
  .preContent {
    color: var(--yellow);
    margin: 0 0 2.5rem;
    text-transform: uppercase;
  }

  .columns {
    align-items: flex-start;
    border-bottom: 2px solid var(--yellow);
    display: flex;
    justify-content: space-between;

    @media (max-width: 540px) {
      border-bottom: 0;
      flex-flow: column wrap;
    }

    &-menu {
      padding-bottom: var(--padding_small);

      @media (max-width: 540px) {
        padding-bottom: 0;
      }
    }

    &-newsletter {
      display: flex;
      flex-direction: column;
      padding-bottom: var(--padding_small);

      @media (max-width: 1023px) {
        width: 50%;
      }

      @media (max-width: 540px) {
        width: 100%;
      }

      .form--newsletter {
        .group-submit {
          border-bottom: 1px solid var(--white);
          display: flex;
          justify-content: space-between;
          
          @apply font-paragraph;
      
          input {
            background-color: transparent;
            border: 0;
            color: var(--white);
            margin: 0;
            padding: 0;
            width: 100%;
          }
      
          .button {
            align-items: center;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            color: var(--white);
            display: flex;
            font-family: 'Source Sans Pro', sans-serif;
            @apply font-paragraph;
            font-weight: normal;
            padding: 0;
            transition: all 0.3s ease-in-out;
        
            &:hover,
            &:focus {
              background-color: transparent;
              border: 0;
              color: var(--white);

              &::after {
                transform: translateX(5px);
              }
            }

            &::after {
              content: url('data:image/svg+xml,%3Csvg width="32" height="24" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M0 0h32v24H0z"/%3E%3Cpath fill="%23EBEB00" fill-rule="nonzero" d="m23 5-1.41 1.41L26.17 11H2v2h24.17l-4.59 4.59L23 19l7-7z"/%3E%3C/g%3E%3C/svg%3E');
              display: flex;
              flex-flow: row wrap;
              margin-left: 10px;
              margin-top: 10px;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .disclaimer {
          background-color: transparent;
          border: 0;
          color: var(--border-grey);
          @apply font-caption;
          line-height: 2.5rem;
          margin-top: var(--padding_xsmall);
          padding: 0;
        }
      }

      .screen-reader-response {
        p,
        ul {
          margin: 0 !important;
        }
      }
      
      .wpcf7-form {
        &.invalid .wpcf7-response-output {
          color: red;
          display: block;
          @apply font-paragraph;
          font-weight: normal;
          position: absolute;
          top: 120px
        }
      
        .wpcf7-response-output {
          color: greenyellow;
          display: block;
          @apply font-paragraph;
          font-weight: normal;
          position: absolute;
          top: 120px
        }
      }
      
      .wpcf7-not-valid-tip {
        color: red;
        display: block;
        @apply font-paragraph;
        font-weight: normal;
        position: absolute;
        top: 120px
      }
    }
  }

  .social {
    @media (max-width: 540px) {
      margin-bottom: var(--padding_small);
    }

    .socialList {
      @include reset-list;
      display: flex;
      justify-content: flex-start;
      @apply gap-8 md:gap-6;

  
      &-link {
        box-sizing: content-box;
        display: block;
  
        &:hover,
        &:focus {
          svg {
            border: 1px solid var(--yellow);

            path {
              fill: var(--yellow);
            }
          }
        }
      }
  
      &-item {
        display: inline-block;
      }
  
      svg {
        border: 1px solid var(--white);
        border-radius: 50%;
        display: block;
        height: auto;
        width: 8rem;

        @screen md  {
          width: 5.2rem;
        }
      }
    }
  }

  .menu {
    margin-bottom: var(--padding_small);
    width: 100%;
  }
  
  .list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  
    .menu-link {
      color: var(--white);
      display: inline-block;
      padding-bottom: 1.7rem;
      padding-right: 5rem;
      position: relative;
      text-decoration: none;
      transition: color 0.2s ease-out;
  
      &:hover,
      &:focus {
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        text-underline-offset: 0.5rem;
      }
    }
  }
  
}
