<div class="button-wrapper flex {{ navArrowsClasses }} h-[50px] w-[110px] justify-between mb-xs">
  <button
    type="button"
    data-ref="prev"
    class="slider-button slider-button--prev z-[10] justify-center flex cursor-pointer items-center"
  >
    <svg width="auto" height="100%" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="35" cy="35" r="34" transform="rotate(-180 35 35)" stroke="var(--textColor)" stroke-width="2" fill="var(--bgColor)"/>
        <g clip-path="url(#clip0_3522_3951)" stroke="var(--textColor)">
          <path d="M35.4616 43.7533L27.1966 35.4883L35.4616 27.2233" stroke-width="1.5"/>
          <line x1="27.0977" y1="35.4258" x2="44.3164" y2="35.4258" stroke-width="1.5"/>
        </g>
        <defs>
          <clipPath id="clip0_3522_3951">
            <rect width="15" height="15" fill="white" transform="translate(35 46) rotate(-135)"/>
          </clipPath>
        </defs>
    </svg>
  </button>
  <button type="button" data-ref="next" class="slider-button slider-button--next z-[10] justify-center flex cursor-pointer items-center">
    <svg width="auto" height="100%" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="35" cy="35" r="34" stroke="var(--textColor)" stroke-width="2" fill="var(--bgColor)" />
      <g clip-path="url(#clip0_3522_3946)" stroke="var(--textColor)">
        <path d="M34.5384 26.2467L42.8034 34.5117L34.5384 42.7767" stroke-width="1.5"/>
        <line x1="42.9023" y1="34.5742" x2="25.6836" y2="34.5742" stroke-width="1.5"/>
      </g>
      <defs>
        <clipPath id="clip0_3522_3946">
          <rect width="15" height="15" fill="white" transform="translate(35 24) rotate(45)"/>
        </clipPath>
      </defs>
    </svg>
  </button>
</div>
