flynt-component[name="NavigationMain"] {

  .submenu-wrapper {
    display: block !important;
    transform: translateX(100vw);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -50vw;
      width: 50vw;
      height: 100%;
      background-color: var(--secondary);
    }

    &.open {
      transform: translateX(75px);
    }
  }

  .navigation {
    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }
}
