flynt-component[name='NavigationMain'] {
  .item {
    &.current-page-ancestor {
      button {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &:hover {
          text-decoration-color: var(--hoverColor);
        }
      }
    }
  }

  .submenu-wrapper {
    display: block !important;
    transform: translateX(100vw);
    
    &::after {
      background-color: var(--brandColor);
      content: '';
      height: 100%;
      position: absolute;
      right: -50vw;
      top: 0;
      width: 50vw;
    }

    &.open {
      transform: translateX(75px);
    }
  }

  .item {
    &.current-menu-item {
      a {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &:hover {
          text-decoration-color: var(--hoverColor);
        }
      }
    }
  }

  .submenu {
    .item {
      &.current-menu-item {
        a {
          text-decoration: none;
        }
      }
    }
  }

  button {
    &.open {
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;

      &:hover {
        text-decoration-color: var(--hoverColor);
      }
    }
  }

  .navigation {
    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .button {
    &.button--external {
      @apply border;
      @apply border-bgColor;
      @apply bg-transparent;
      @apply hover:bg-bgColor;
      @apply hover:border-bgColor;
      @apply active:border-bgColor;
      @apply text-bgColor;
      @apply hover:text-hoverColor;
      @apply focus:text-hoverColor;
      @apply active:text-hoverColor;

      &:hover,
      &:focus,
      &:active {
        a {
          @apply text-hoverColor;

          &::after {
            content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="49" height="29" viewBox="0 0 49 29" fill="none"%3E%3Cpath d="M0 14.1504H47.0278" stroke="%237CD3B9" stroke-width="2"/%3E%3Cpath d="M34.2695 1L47.5354 14.2658L34.2695 27.5317" stroke="%237CD3B9" stroke-width="2"/%3E%3C/svg%3E');
          }
        }
      }

      a {
        @apply leading-none;
        @apply m-0;
        @apply -translate-y-[2px];
        @apply hover:text-hoverColor;
        @apply focus:text-hoverColor;
        @apply active:text-hoverColor;
        @apply hover:bg-transparent;
        @apply active:bg-transparent;

        &::after {
          content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="49" height="29" viewBox="0 0 49 29" fill="none"%3E%3Cpath d="M0 14.1504H47.0278" stroke="%23fff" stroke-width="2"/%3E%3Cpath d="M34.2695 1L47.5354 14.2658L34.2695 27.5317" stroke="%23fff" stroke-width="2"/%3E%3C/svg%3E');
        }
      }
    }
  }
}
