flynt-component[name='NavigationMain'] {
  .item {
    &.current-page-ancestor {
      button {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &:hover {
          text-decoration-color: var(--hoverColor);
        }
      }
    }
  }

  .submenu-wrapper {
    display: block !important;
    transform: translateX(100vw);
    
    &::after {
      background-color: var(--brandColor);
      content: '';
      height: 100%;
      position: absolute;
      right: -50vw;
      top: 0;
      width: 50vw;
    }

    &.open {
      transform: translateX(75px);
    }
  }

  .item {
    &.current-menu-item {
      a {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;

        &:hover {
          text-decoration-color: var(--hoverColor);
        }
      }
    }
  }

  .submenu {
    .item {
      &.current-menu-item {
        a {
          text-decoration: none;
        }
      }
    }
  }

  button {
    &.open {
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;

      &:hover {
        text-decoration-color: var(--hoverColor);
      }
    }
  }

  .navigation {
    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }
}
