flynt-component[name='NavigationMain'] {
  .submenu-wrapper {
    display: block !important;
    transform: translateX(100vw);
    
    &::after {
      background-color: var(--secondary);
      content: '';
      height: 100%;
      position: absolute;
      right: -50vw;
      top: 0;
      width: 50vw;
    }

    &.open {
      transform: translateX(75px);
    }
  }

  .current-menu-item {
    a {
      // text-decoration: underline;
      // text-decoration-color: var(--white);
      // text-underline-offset: 8px;
      @apply text-green;
    }
  }

  button {
    &.open {
      // text-decoration: underline;
      // text-decoration-color: var(--white);
      // text-decoration-thickness: 4px;
      // text-underline-offset: 8px;
      @apply text-green;
    }
  }

  .navigation {
    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }
}
