<flynt-component
  load:on="load"
  load:onmedia="(min-width: 780px)"
  name="NavigationMain"
  class="mainNavBlock hidden md:block text-white backdrop-blur-xl relative"
>
  <nav class="navigation" aria-label="{{ labels.ariaLabel|e }}">
    <div class="max-w-screen-max mx-auto px-sm lg:px-lg py-md flex items-center justify-between flex-row">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'logo_dark': logo_dark, 'site': site } only %}
      <div class="menu-wrapper flex items-center justify-start gap-sm xl:gap-md w-fit h-fit pl-lg relative">
        {% if menu %}
          {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
        {% endif %}
        <div
          id="ctaMenu"
          class="hidden [@media(min-width:1160px)]:flex justify-center items-start relative z-[9999]
          [&_a]:bg-white [&_a]:hover:bg-accentColor [&_a]:text-black
        ">
          {% include 'Partials/_cta.twig' %}
        </div>
      </div>
    </div>
    {# this is just for tailwind blabla #}
    <div class="hidden bg-white/50 backdrop-blur-xl text-uiColor text-white text-black bg-white bg-accentColor bg-brandColor [&_a]:bg-accentColor [&_a]:hover:bg-brandColor [&_a]:hover:text-white"></div>
  </nav>
</flynt-component>
<div id="ctaMain"
  class="fixed hidden sm:block [@media(min-width:1160px)]:hidden z-[9999] bottom-lg right-lg
  [&>a]:bg-accentColor [&>a]:text-black [&>a]:hover:bg-brandColor [&>a]:hover:text-white
">
  {% include 'Partials/_cta.twig' %}
</div>
