<flynt-component load:on="idle" load:on:media="(min-width: 1024px)" name="NavigationMain">
  <nav class="navigation" aria-label="{{ labels.ariaLabel|e }}">
    <div class="flex justify-between bg-white">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
        {% if menu %}
        <div class="flex items-center">
        {% for item in menu.items %}
          <a class="text-black no-underline pr-2" href="{{ item.url|e }}" title="{{ item.title|e }}">{{ item.title|e }}</a>
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </nav>
</flynt-component>