<flynt-component
  load:on="idle"
  load:onmedia="(min-width: 1024px)"
  name="NavigationMain"
  class="hidden md:block text-white backdrop-blur-md"
>
  <nav class="navigation" aria-label="{{ labels.ariaLabel|e }}">
    <div class="max-w-screen-xl mx-auto px-lg py-md flex items-center justify-between flex-row">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'logo_dark': logo_dark, 'site': site } only %}
      <div class="menu-wrapper flex items-center justify-start gap-md w-fit h-fit pl-xl relative">
        {% if menu %}
          {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
        {% endif %}
        {% include 'Partials/_cta.twig' %}
      </div>
    </div>
    {# this is just for tailwind blabla #}
    <div class="hidden bg-white/40 backdrop-blur-md text-grey text-white"></div>
  </nav>
</flynt-component>
