flynt-component[name='BlockProjectBox'] {
  // stylelint-disable selector-max-id
  #dottedMap {
    svg {
      clip-path: polygon(4% 2%, 100% 3%, 100% 99%, 3% 98%);
      
      @media (min-width: $breakpoint-desktop) {
        clip-path: polygon(1% 2%, 129% 1%, 107% 96%, 3% 98%);
      }
    }
  }

  .pin {
    @apply bg-cbegreen;
    @apply w-[25px];
    @apply h-[25px];
    @apply -translate-x-[12.5px];
    @apply -translate-y-[12.5px];
    
    &::before {
      border: 2px solid var(--white);
      border-radius: 100%;
      bottom: 2px;
      content: '';
      left: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }

  .button--link {
    @apply text-bodyMobile;
    @apply lg:text-body;
    text-decoration: underline;
    text-decoration-color: var(--black);
    text-underline-offset: 6px;

    &:hover {
      text-decoration-color: var(--green);
    }
  }
}
