flynt-component[name='BlockProjectBox'] {
  // stylelint-disable selector-max-id
  #dottedMap {
    svg {
      clip-path: polygon(4% 2%, 100% 3%, 100% 99%, 3% 98%);
      
      @media (min-width: $breakpoint-desktop) {
        clip-path: polygon(1% 2%, 129% 1%, 107% 96%, 3% 98%);
      }
    }
  }

  .button--link {
    @apply text-bodyMobile;
    @apply lg:text-body;
    text-decoration: underline;
    text-decoration-color: var(--black);
    text-underline-offset: 6px;

    &:hover {
      text-decoration-color: var(--green);
    }
  }
}
