flynt-component[name='ArchiveInsights'] {
  .post {
    .link {
      text-decoration: none !important;
    }

    &:hover,
    &:focus {
      .image {
        @apply lg:scale-[1.03];
        @apply lg:origin-center;
      }

      .button--arrow {
        @apply border-transparent;
        @apply bg-white;
        @apply bg-green;
      }

      .button--link {
        @apply bg-transparent;
        @apply text-black;

        &::after {
          @apply ml-[5px];
        }
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .firstItemLarger {
      .post {
        min-height: auto;

        figure {
          img {
            @apply max-h-[370px];
            @apply xl:max-h-[345px];
            @apply max:max-h-[330px];
          }
        }
        
        &:first-child {
          grid-column-end: 3;
          grid-column-start: 1;
    
          figure {
            img {
              aspect-ratio: 2/1;
            }
          }

          .content {
            aspect-ratio: 2/1;
          }
        }
      }
    }
  }
}
