{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ArchiveInsights" data-type="listing" class="" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
    <div class="max-w-screen-max w-full mx-auto p-sm md:p-md lg:p-lg">
      <ul
        class="
          w-full
          mx-auto
          grid xs:grid-cols-2 sm:grid-cols-3 xl:grid-cols-4
          gap-sm lg:gap-md
          {% if options.firstItemLarger %} firstItemLarger {% endif %}
        "
      >
        {% for post in posts %}
          {% include 'Components/_Atoms/Cards/post.twig' with {post: post} %}
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}
